[2017-07-29 04:00] diasdavid opened #1 "Use JWT"
It would be interesting to use JWT instead of <insert custom format> to share the keys. To continue sharing these keys through the url, we just need to serialize it and encode it.

Since JWT is valid JSON, we can transfer it as a `dag-cbor` node and then use the CID to base64 encode it ⚡️

[2017-07-29 04:01] diasdavid opened #2 "Snapshots should be self-contained and viewable through the gateways"
A snapshot should pack the viewer and be retrievable by any IPFS node.

[2017-07-29 04:03] diasdavid opened #3 "Enable options to encrypt snapshots"
With #2, an option that can be added is a decrypt option, so that snapshots can be password encrypted when they are shared through IPFS.

[2017-08-17 13:48] pgte opened #4 "encrypt data at rest"
Out of the box, Y.js uses the local store to store the CRDT, which means that records that contain parts of the content are stored unencrypted.

We should encrypt data at rest using a symmetric key derived from the "read key".

[2017-08-17 14:02] pgte opened #5 "Document architecture and security"

[2017-08-17 14:03] pgte opened #6 "Migrate from vanilla to React"

[2017-08-17 14:12] pgte opened #7 "peer names"
Allow giving names to nodes, prompting the user for the name.
Consider using a shared CRDT for this data.

[2017-08-17 14:19] pgte opened #8 "cursor position"
Allow to know the cursor position for each peer, probably using a shared CRDT.

[2017-08-17 14:32] pgte commented on #5
Done via 88a8d43c65124cb4cb4f6365bba5703de2029813

[2017-08-17 14:32] #5 closed

[2017-08-21 04:22] diasdavid commented on #1
@pgte thoughts here?

[2017-08-21 04:27] diasdavid opened #9 "File encryption."
The file upload feature should also encrypt the files, otherwise a file that is uploaded is stored on the network in plaintext. This creates the UX challenge that if a user grabs the hash of the file uploaded to the UI, it won't be able to be resolved. I think we can do something better.

What if when the user uploads a file, we upload a self decrypting image loader (that picks the key from the ur

[2017-08-21 04:48] daviddias opened #10 "Add gif to the README"
Having a gif on the README of PeerPad doing its thing would be very enticing for new users.

Giphy has a great tool to create these: https://giphy.com/apps/giphycapture

[2017-08-21 06:50] diasdavid opened #11 "Debug screen"
Love the debug screen feature from Etherpad on sandstorm:
![image](https://user-images.githubusercontent.com/1211152/29506817-6af68384-8645-11e7-880d-fe679bbc30f4.png)

This will be very helpful to get users to report errors to us.

[2017-08-22 10:19] pgte commented on #1
I'm not sure I understand how JWT fits here. As I understand it and used it in the past, JWT is a way to transfer and verify claims based in a signature.

To give you some background, currently peerpad uses an asymmetric key. Readers have access to the public key, and readers have access to the private key. Both use the public key to validate the signature of messages from other peers. Also, a sym

[2017-08-22 10:28] pgte commented on #9
Good point!
Being encrypted, the pad should be able to load all the images itself, without having to load a loader, and the image should be in the graph of the document.

I think this is enough. An image is stored under the doc graph, encrypted using the same key as the document itself.

I'm failing to see the need of generating a separate self-contained image loader, do you?

[2017-08-22 10:29] diasdavid commented on #1
You are right, I was thinking that a JWT token also transferred the PublicKey and so, it would be a good format for us to transfer the PublicKeys too. nvm then :)

[2017-08-22 10:29] #1 closed

[2017-08-22 12:57] diasdavid commented on #9
I believe that users will want to share direct links to the documents once they upload them, as they are used to do through IPFS. It will be a surprise for the user when the CID of a document doesn't return a doc but rather a blob of encrypted text.

[2017-08-22 20:55] pgte commented on #9
@diasdavid Good point.

[2017-08-23 10:19] pgte opened #12 "migrate to React"

[2017-08-23 10:22] #12 closed

[2017-08-23 11:22] pgte opened #14 "npm test yields Error: Error watching file for changes: EMFILE"
[code]

[2017-08-23 11:22] pgte commented on #14
Fixed by https://github.com/facebookincubator/create-react-app/issues/871

[2017-08-23 11:22] #14 closed

[2017-08-30 10:32] diasdavid opened #15 "Circle is hanging for me"
Will need to try again later https://circleci.com/setup-project/gh/ipfs-shipyard/peerpad

[2017-09-22 21:23] lgierth opened #17 "Domain: peerpad.net vs. peerpad.io"
I registered both a while ago. The dotIO TLD has a really crappy track record of how they operate their DNS servers, so I'd be happy to not add more .io domains: https://hn.algolia.com/?query=io%20dns&sort=byDate&dateRange=all&type=story&prefix&page=0

I'd propose going with peerpad.net.

[2017-10-02 15:55] pgte opened #18 "Proposal for capability system"
For each document:

* Shared CRDT of type map, containing, for each peer, their capabilities
* Capabilities can be, `read`, `write` and `admin`
* Only admins can change capabilities
* Nodes are identified by IPFS peerId (for now)
* Genesis: to prevent shadowing (an attack where a node introduces another node, pretending they're genesis), the channel name should contain a signature by the genesis n

[2017-10-02 15:57] pgte opened #19 "Pad types"
The supported text types should be:

| Raw | Rendered |
|-----|-----------|
| code | — |
| — | Richtext |
| Markdown | HTML |

[2017-10-02 16:05] pgte opened #20 "snapshot scheme"
Viewer is an external dependency, is a bundled JS in IPFS.
A snapshot is an IPFS UnixFS directory containing 2 files:

* `index.html`
* `meta.json`

`index.html` contains a script src to the viewer, served through IPFS gateway.
`meta.json` contains the following information:

[code]

[2017-10-02 16:07] pgte opened #21 "creating document through URL"
When creating a document through a URL, like this:

`https://peerpad.io/#/mydocument`

The user should be prompted whether they want to create a new document or access an already created one. In the last case, they get prompted to introduce read and write keys.

[2017-10-03 09:32] pgte opened #22 "multiple tabs"
When you have multiple tabs open, multiple IPFS nodes with the same id are opened, which causes havoc.

Agreed steps (with @diasdavid) to solve this:

* don't automatically start IPFS on boot
* if IPFS lock file is present, ask user to close tabs if they're opened, and opt to continue
* "continue" will start IPFS
* when closing the browser tab, close IPFS, which removes the file

[2017-10-08 20:38] spaceywolfi opened #23 "Uncaught Error: no protocol with name: p2p-webrtc-star"
Uncaught Error: no protocol with name: p2p-webrtc-star

[2017-10-11 08:33] diasdavid commented on #23
Thanks for reporting @spaceywolfi

@pgte have you released a version with latest js-ipfs? This shouldn't be an issue.

[2017-10-11 08:39] diasdavid opened #25 "Docs"
I feel that docs are really important for this project and instead ARCHITECTURE.md and SECURITY.md should be available at the root repo and linked from the README too.

README.md should have a bold disclaimer that Peerpad hasn't been audited yet (add the open lock 🔓) and SECURITY.md should have that disclaimer as well.

[2017-10-11 08:42] daviddias opened #26 "Attack Vectors"
Following our convo from last week, let's add a list of known attack vectors for Peerpad and how Peerpad mitigates them.

The list should include:

- Data Exfiltration
- Impersonation
- Taking control over a channel
- Pad collisions

Each attack vector should describe a potential scenario and how Peerpad mitigates it or will mitigate with a clear status of what was achieved so far.

[2017-10-11 09:07] daviddias opened #27 "Make Peerpad work fully offline"
Towards getting Peerpad working offline, we do it in multiple of ways and two of which look more promissing. These are:

- a) Mount Peerpad over js-ipfs-api
  - [ ] Identify what things Peerpad uses (PubSub Room + Y.js connector) needs that js-ipfs-api needs to implement as well
  - [ ] Update the HTTP-API Spec to support those
  - [ ] Implement all the things
- b) Make an IPFS Node be a Signallin

[2017-10-13 13:57] pgte commented on #20
Done in branch 0.2

[2017-10-13 13:57] #20 closed

[2017-10-13 13:57] pgte commented on #6
Done in v0.2

[2017-10-13 13:57] #6 closed

[2017-10-13 13:59] pgte commented on #4
Done in v0.2 by creating and using [y-indexeddb-encrypted](https://www.npmjs.com/package/y-indexeddb-encrypted).

[2017-10-13 13:59] #4 closed

[2017-10-13 14:08] diasdavid commented on #6
woot! 🎉🎉

[2017-10-13 14:08] diasdavid commented on #20
🎉🎉

[2017-10-13 14:08] diasdavid commented on #4
🎉🎉🎉🎉

[2017-10-13 14:10] pgte commented on #2
Done in v0.2

[2017-10-13 14:10] #2 closed

[2017-10-13 14:11] pgte commented on #3
They're always shared encrypted, and decrypted when rendered if the key is present in the URL hash.

[2017-10-13 14:11] #3 closed

[2017-10-14 10:11] pgte commented on #25
README already contains links to them.

Fixed via e54f6b4

[2017-10-14 10:11] #25 closed

[2017-10-14 10:23] pgte commented on #23
@spaceywolfi Should be fixed on latest, which uses peerpad-core v0.2, which uses IPFS 0.26, where this shouldn't happen any more :)
Please reopen if this is not the case.
Thank you!

[2017-10-14 10:23] #23 closed

[2017-10-16 09:50] alanshaw opened #28 "Unexpected local state causes editor rendering error"
Works in Chrome

<img width="1120" alt="screen shot 2017-10-16 at 10 50 06" src="https://user-images.githubusercontent.com/152863/31606037-de02480e-b25f-11e7-8fc1-429ae169f0a6.png">

[2017-10-16 17:02] spaceywolfi commented on #23
@pgte

 still get the same error on chrome :/

Also I have been getting this error log on firefox:

[code]

PS: i do not have the rights to reopen the issue

[2017-10-16 17:08] diasdavid commented on #23
@spaceywolfi try clearing the storage for the application in chrome. You see this issue because your browser has a old IPFS repo.

[2017-10-17 10:39] pgte opened #30 "Snapshots are not working"
`_backend.keys.generateSymmetrical` is not a function

[2017-10-17 10:44] pgte commented on #30
Fixed by 75ffd4ff489a928539149ac56b888048166a7b50

[2017-10-17 10:44] #30 closed

[2017-10-17 10:55] spaceywolfi commented on #23
@diasdavid ah yes this solved the problem in chrome.

It still doesnt work on firefox, maybe thats a new issue?

[2017-10-17 13:53] pgte commented on #28
@alanshaw cannot reproduce locally with latest Firefox.
I'm not sure what caused this, but just so we eliminate all other causes, did you try wiping all storage?

[2017-10-19 10:47] alanshaw commented on #28
Yep, it started working when I wiped Indexed DB storage

[2017-10-19 10:53] alanshaw opened #35 "Full screen flash"
My developer mind says this is simply not possible, but both @olizilla and I have experienced full screen flashing (the whole screen, not just the browser) whilst leaving peerpad running in Chrome without refreshing the page on macOS. This only happens after say 5-10 mins after the page is loaded.

Is anyone else seeing this? Am I going completely mad? Could someone start peerpad, create a new doc

[2017-10-19 15:25] alanshaw opened #36 "OpenError: A mutation operation was attempted on a database that did not allow mutations"
Using Firefox private browsing tab. Doesn't happen in Chrome.

<img width="1274" alt="screen shot 2017-10-19 at 16 25 36" src="https://user-images.githubusercontent.com/152863/31779081-28c415de-b4ea-11e7-938c-2e1ac58ea12e.png">

[2017-10-20 09:54] pgte commented on #36
AFAIK, private browsing in Firefox doesn't work with IndexedDB.
I think Peerpad core needs an API for feature detection...

[2017-10-20 12:00] alanshaw opened #41 "Logo"
Uploading logo for the README

<img width="555" alt="logo horizontal" src="https://user-images.githubusercontent.com/152863/31819860-8a3d5080-b596-11e7-8e69-55c27f95d95d.png">

[2017-10-21 16:38] diasdavid opened #46 "deploying peerpad"
Deploying Peerpad should be done through our standard way of publish to IPFS and dnslink, the same way our websites get deployed (e.g https://github.com/ipfs/website#usage)

For that we need:

- [x] Add peerpad.net to DNSSimple (@lgierth ?)
- [x] @pgte to create a DNSSimple account so that we can share ownership with him
- [ ] Makefile with make build, make deploy and make publish-to-domain script

[2017-10-21 16:38] diasdavid commented on #17
peerpad.net it is, let's get it ready to be deployed https://github.com/ipfs-shipyard/peerpad/issues/46 :)

[2017-10-21 16:38] #17 closed

[2017-10-21 16:39] diasdavid commented on #19
@pgte this was done, right?

[2017-10-21 16:41] diasdavid commented on #15
Got it working. Added Circle CI file https://github.com/ipfs-shipyard/peerpad/commit/b31f39bcb8ffcb10acd68ab51bb2dc8368bbb43a

[2017-10-21 16:41] #15 closed

[2017-10-21 16:41] pgte commented on #46
We need a certificate also, right?
How is that usually processed?

On 21/10/2017, 17:38 +0100, David Dias <notifications@github.com>, wrote:

[2017-10-21 17:06] lgierth commented on #46
It's not automated yet, I'll take care of it for the time being

[2017-10-23 08:34] pgte commented on #19
Correct.

[2017-10-23 08:34] #19 closed

[2017-10-23 08:57] diasdavid commented on #19
👍

[2017-10-25 00:53] lgierth commented on #46
Cert is in place: https://peerpad.net and you have access to DNSimple to update the dnslink record - only thing missing is the makefile and dnslink script.

My job here is done :):)

[2017-10-25 07:45] pgte opened #51 "styling snapshot"
Snapshot is unstyled. Use Peerpad look-and-feel around the text.

[2017-10-25 07:49] pgte opened #52 "homepage should have separate smaller bundle"
For faster loading, the homepage JS bundle should not include all the app dependencies.

In order to shake big dependencies like js-ipfs, it would mean directly importing key and name-generating dependencies in core (something like `require('peerpad-core/src/backend/keys/generate')`, etc.).

Also, dynamic loading on the app would require having something like a "loading" screen while loading JS, b

[2017-10-25 12:57] diasdavid opened #54 "Snapshot urls must open in a new tab"
Otherwise, there won't be a Node available to send the data to the gateways.

Also, Peerpad should do a .get request to the gateway so that the gateway starts caching the snapshot right away.

[2017-10-25 12:58] diasdavid opened #55 "Disable non implemented UI elements"
Such as:

![image](https://user-images.githubusercontent.com/1211152/31999830-953516fe-b98c-11e7-8b0d-27cf6785e5d9.png)

and
![image](https://user-images.githubusercontent.com/1211152/31999843-a1161f86-b98c-11e7-8540-d7eebd71d2c7.png)

[2017-10-25 12:59] diasdavid opened #56 "Shapshots should contain date"
![image](https://user-images.githubusercontent.com/1211152/31999875-b835ddc8-b98c-11e7-8664-9da6a0efca2a.png)

Also, please make the box bigger so that we can see the whole hash

[2017-10-25 13:02] diasdavid opened #57 "Move IPFS node status up and make writing area bigger"
![image](https://user-images.githubusercontent.com/1211152/32000014-28e968d2-b98d-11e7-90be-d3befce72811.png)

[2017-10-25 13:26] alanshaw opened #58 "Status message never changes to "online""
Possible cause: if IPFS is already online the started event will never be fired, and component state never updated

https://github.com/ipfs-shipyard/peerpad-core/blob/master/src/network.js#L10
https://github.com/ipfs-shipyard/peerpad/blob/master/src/components/Edit.js#L216

[2017-10-25 14:19] olizilla opened #59 "Homepage alpha warning should not be dismissible."
As per discussion with @diasdavid I'll remove the close button from the homepage alpha warning.

I'll leave the code to handle dismissing the warning in place, as it seems like something we'll want once we're less alpha-y.

[2017-10-25 15:17] olizilla commented on #55
@diasdavid what's the expected behaviour of the `+` button? Should it redirect you to a new tab with a pad with a new random name, like the start button on the homepage?

[2017-10-25 15:18] olizilla commented on #55
and if so, new tab or current tab?

[2017-10-25 15:53] diasdavid commented on #55
@olizilla the + button would be to invite other users but that won't be present until we have some kind of auth.

[2017-10-25 15:56] pgte commented on #58
@alanshaw good catch.

Since the back-end is an app-wide singleton, we need to store that state.
On top of the `started` event, `peerpad-core` now has a [`.network.hasStarted()` method](https://github.com/ipfs-shipyard/peerpad-core#backendnetworkhasstarted).

You'll need to upgrade to `peerpad-core` v0.5.0 to be able to use this.

[2017-10-25 16:16] olizilla commented on #58
@pgte I'll wire this up. Just to check, I should be testing `.network.hasStarted()` to see if our node is already running, and if not, listen once for `started`.

In the UI, should we be representing the started status as **Online** rather than **Started** ?

[2017-10-25 16:32] pgte commented on #58
Correct.

Yes, "Online" sounds better.

[2017-10-25 16:35] olizilla commented on #56
@diasdavid @pgte the list of snapshots for a doc are lost when the user refreshes the page, and we don't currently have timestamp info on the objects. Do you want the UI to add them to localstorage / or is it a peerpad-core responsibility?

[2017-10-25 16:39] pgte commented on #56
Right now peerpad-core only takes the snapshot, so it's up to the app to do whatever with it.
(Later on we plan to store docs and have a directory view, but right now that's still a bit fuzzy.. (at least for me)).

[2017-10-25 16:39] pgte commented on #56
@olizilla while you're at it, could you please make the hash link open in a new window?

[2017-10-25 16:40] olizilla commented on #56
👍

note to self: fix #54 while we're in here.

[2017-10-25 16:57] olizilla commented on #56
@pgte It is ok to store the snapshot hash and key in localStorage? I know this is an alpha with no security promises, but I still wanted to check.

[2017-10-25 17:11] pgte commented on #56
Yes, since each snapshot has it's own independent decryption key. Access to these doesn't compromise the "future" of the document.

[2017-10-25 17:31] olizilla commented on #56
@pgte last question! Snapshots need to be keyed on current document, so I know which ones to load when we render a new pad. Is it sensible to use the readKey for the current doc, since the name is mutable.

[2017-10-25 17:39] pgte commented on #56
The document name should not change, you're probably thinking about the document title, so it's safe.

In regards to the document title changing, let's track this on another issue, I've neglected this part.

[2017-10-25 17:41] pgte opened #62 "editing document title"
Document title should not be related to document name (which is part of the URL and uniquely identifies the document across the entire network).

This has been poorly defined by me, and so far this hasn't had any support on `peerpad-core`.
@olizilla I'm thinking of adding a `document.bindTitle(elem)` where elem is a text field or text area. Is this ok?

The document title should be initialized to

[2017-10-25 17:43] olizilla commented on #56
Ah, I think name and title are currently conflated in the UI. `name` is plucked from the the url, set as state, and then mutated when the user edits the title. I'll pull them apart.

[2017-10-25 17:54] pgte commented on #62
`peerpad-core` v0.6 should now provide a [`document.bindTitle(element)`](https://github.com/ipfs-shipyard/peerpad-core#documentbindtitleelement).

[2017-10-26 08:33] #59 closed

[2017-10-26 08:47] #54 closed

[2017-10-26 08:47] #56 closed

[2017-10-26 14:19] #55 closed

[2017-10-26 14:19] #57 closed

[2017-10-26 15:31] diasdavid opened #67 "Blank when opening from IPFS hash"
See https://ipfs.io/ipfs/QmYqBG2aizE4cgrPSUwYHw2vL35F2GPLGpmdzgmnBZQEqH/

[2017-10-26 15:33] diasdavid commented on #67
It actually seems that `npm run build` is just not generating the app properly.

[2017-10-26 15:49] olizilla commented on #67
Looks like some templates aren't being interpolated
[code]

`/%PUBLIC_URL%` should probably be `public`

[2017-10-26 15:58] olizilla commented on #67
build process needs env vars it seems

https://github.com/ipfs-shipyard/peerpad/blob/1301536ed309576d5ae733f5dbf1ee3ef0fa4a14/config/paths.js#L28-L33

I'll look into it.

[2017-10-26 16:12] olizilla commented on #67
[code]
might work. I'm tying it now. I'll need to sweep through the app and fix absolute paths (as per usual, whoop whoop)

[2017-10-26 16:15] olizilla commented on #67
To clarify, that might work for now as a quick fix, as the app is using the hash router, so the real path never changes... my preferred fix would be to pull out all the create-react-app-ejected noise and just wire up enough browserify to do what we need. I don't know how long that'll take, so I'd rather get what we have working first.

[2017-10-26 17:23] pgte opened #70 "homepage: new CRDT diagram"
Invision has a new CRDT diagram that is more accurate (the one that is no longer 3D).

[2017-10-27 07:28] olizilla opened #73 "Failed insecure connection to ws://star-signal.cloud.ipfs.team"
I can't see why peerpad / ipfs-js is trying to to use the `ws://` protocol to connect to `star-signal.cloud.ipfs.team` but in the browser console from

https://ipfs.io/ipfs/QmYD5hksXbSRRY4C3fFsneBuCqfcU8JS64wfLum896jFBc/#/w/markdown/7F6ctJK5wpcKhKNAbNMpH1/4XTTM4hvH1yP5sLm7gD1VkM2ovu9tey6AegEXS43KHSkKzGCd/K3TgUWpx1DQFJJnM3bUPf8urqqEV7SdXS6QdgWGCeAmyDb9v6NM3GZvzcWJ4uPqAbK26KZrpqEHfZFuvibU9HFmmMeZjJf

[2017-10-27 07:38] pgte commented on #73
Is this the uglified production build? If so, this is because IPFS can’t be uglified.
I’ve been playing with this and I think we’ll have to drop Uglification for the time being..

On 27 Oct 2017, 08:29 +0100, Oli Evans <notifications@github.com>, wrote:

[2017-10-27 07:47] olizilla commented on #73
i haven't dug into the build process yet, but I can see `uglifyjs-webpack-plugin` in the `package.json` so I assume so.

oh my. isn't it most of the bundle size? unminified, the main bundle it's about 1.4Mb, which isn't ideal, but as apple.com is > 5Mbs today, I think we'll be fine running unminified for now.

[2017-10-27 07:59] olizilla commented on #73
the webpack plugin seems to already be disabled in prod
https://github.com/ipfs-shipyard/peerpad/blob/1301536ed309576d5ae733f5dbf1ee3ef0fa4a14/config/webpack.config.prod.js#L267

The issue feels a bit more like the ipfs node needs to be configured to use wss rather than trying ws but I'm not familiar enough that plumbing. https://github.com/ipfs/js-ipfs/blob/1e5dd2c091a101d1c9d6e6d66e6e527e662a79b

[2017-10-27 08:00] pgte commented on #73
We were using a different Uglification plugin, not exactly sure of why. Have PR to remove it here: https://github.com/ipfs-shipyard/peerpad/pull/74

[2017-10-27 08:55] #58 closed

[2017-10-27 08:55] #62 closed

[2017-10-27 09:14] #73 closed

[2017-10-27 09:15] olizilla commented on #67
All good now @diasdavid

https://ipfs.io/ipfs/QmZwkjxYCW6ud2akqzfoJe2q264dPbqubFVcGo4bauaG3c/#/w/markdown/6oPYZxZnLmTKjWUoGZ8GcC/4XTTMB1BFgUgr3YJTHotVe32MNHBvKnLmqU9K8Mot5cVPAwGm/K3TgUfr3uWhKWJwPEjgLQDJR6DdZriabzr2QJhk5Cg9TsddxvsZuVaGsrqk6v6CwZhWteCrdz6eCYFYj4mWa459krXT2pZJoNxQA7bygkpHZpJQtwV7HiuvXtmsf6vM3zosVv75j

[2017-10-27 09:15] #67 closed

[2017-10-27 09:15] #51 closed

[2017-10-27 10:14] olizilla commented on #52
smaller bundles; We have them!

Fixed in #72

[2017-10-27 10:14] #52 closed

[2017-10-27 10:14] olizilla commented on #70
I'll get this in today.

[2017-10-27 12:22] olizilla opened #75 "prod build document viewer not bundling doc styles."
The build process is injecting the Doc css styles in dev, but no when built for prod deployment.

[2017-10-27 12:24] olizilla commented on #35
I'm getting this a lot today.

[2017-10-27 12:26] olizilla commented on #35
Other symptoms include,

- Firefox chewing out all my system resources if peerpad left open
- Chrome tab with peerpad in crashes if left idling in the background for a while.

Will try and get some more specific details. This is more a note pad for the strange behaviour at the moment.

[2017-10-27 12:37] VictorBjelkholm commented on #35
Seeing the same in Firefox on Ubuntu and Chromium on same platform. I suspect this is a js-ipfs issue and not peerpad as I've seen it happen in other apps. After 10-15 minutes of leaving peerpad in the background, the tab is crashed. See https://github.com/ipfs/js-ipfs/issues/950 as well

[2017-10-27 12:39] pgte opened #76 "normalize.css"
Error when building:

`Module not found: Error: Can't resolve 'normalize.css' in '/Users/pedroteixeira/projects/ipfs/peerpad/peerpad/src/components'`

[2017-10-27 12:59] olizilla commented on #76
`npm install` should fix it.

Related is #75

[2017-10-27 14:52] #76 closed

[2017-10-27 15:15] #75 closed

[2017-10-27 16:46] pgte opened #78 "redirect to HTTPS"
If users go to http://peerpad.net it doesn't work.
Is it possible to redirect HTTP to HTTPS?

[2017-10-27 19:45] olizilla commented on #28
I had the same issue with chrome, and again, wiping indexed DB fixed it. I'm updating then title of this issue, as I don't think it's firefox specific.

[2017-10-27 19:49] olizilla commented on #28
More specifically this happened when we started working on the project and hasn't happened since, and may have been cause by having data from older / unstable versions of ipfs-js in our browsers.

[2017-10-27 20:41] olizilla commented on #35
@VictorBjelkholm I'm kinda glad it's not just us seeing it. I thought my mind might be going.

[2017-10-28 13:51] #70 closed

[2017-10-28 18:32] pgte commented on #78
Fixed.

[2017-10-28 18:32] #78 closed

[2017-10-29 11:19] nicola opened #80 "Feature request: comments"
Peerpad is awesome! Is there a plan to integrate comments (a-la google docs?)?

It would be great if:
- users can assign themselves a temporary "nickname"
- users can select some part of text and write a comment
- users can reply to comments
- users can "resolve" comments

[2017-10-29 12:07] Kubuxu opened #81 "Editor style layout"
Few things, looking at this screen shot:
![](https://screenshots.firefoxusercontent.com/images/b85cfd27-42f7-4c70-a330-521ab4909985.png)

 - because we are already halving the screen I think it would be best if both views took as much space as possible not limiting the workspace to what usually is used for not split screen layout.
 - the markdown overflows instead of wrapping

[2017-10-29 12:14] nicola opened #82 "Request: more appropriate icons"
<img width="55" alt="screen shot 2017-10-29 at 11 56 43 am" src="https://user-images.githubusercontent.com/1424850/32143383-51ad101e-bca0-11e7-93fd-c34eab442017.png">

The two icons make me think about adding a picture or adding a link, rather than taking a snapshot, can I request better icons?

[2017-10-29 14:37] lgierth opened #83 "Link to Github repo"
Where can I get the code? How can I run it myself? How can I contribute?

[2017-10-29 14:40] lgierth opened #84 "Snapshots URL ipfs.io"
It would be better to use https://ipfs.io instead of gateway.ipfs.io for the snapshots URLs -- the latter only exists for historical reasons.

[2017-10-29 14:45] lgierth opened #85 "Snapshot loads blank page"
This snapshot https://gateway.ipfs.io/ipfs/QmcUFDWoXUKZuqXV16FzsyLuV8SHVPqywf5UVDoV6Wqsid/#88zG4sQJ3AkY48mzEoL3CLSrus5cHHYTS24TXxfVhg6mjszxGLT3P4gS1uwzXj9u2i loads an empty page in Firefox Quantum 57.0b12 (64-bit).

It successfully requests:
- the snapshot itself: https://gateway.ipfs.io/ipfs/QmcUFDWoXUKZuqXV16FzsyLuV8SHVPqywf5UVDoV6Wqsid/#88zG4sQJ3AkY48mzEoL3CLSrus5cHHYTS24TXxfVhg6mjszxGLT3P4gS1u

[2017-10-29 15:45] pgte opened #87 "Handle failure to create document"
Some troublesome dependencies try to get loaded when the user creates a document from the homepage. If they fail, nothing happens. The error should be handled and the user shown an error message instead.

[2017-10-29 15:46] #87 closed

[2017-10-29 15:58] #84 closed

[2017-10-29 16:11] #83 closed

[2017-10-29 16:24] pgte opened #88 "uploading images"
Should be possible via drag-and-drop.

Should be stored in IPFS, encrypted, and then included in the snapshot into IPFS.

[2017-10-29 16:35] diasdavid opened #89 "Missing important links"
It needs:
- Link to SECURITY.md (really important) (top and bottom)
- Link to ARCHITECTURE.md (top and bottom)
- Link to this repo on Github (top and bottom)
- Link to js-ipfs from the word IPFS on the welcome page
- Link to http://y-js.org/ from the word CRDT on the welcome

See docs on https://github.com/ipfs-shipyard/peerpad/tree/master/docs

[2017-10-29 16:59] diasdavid commented on #89
Still missing Security at the top
![image](https://user-images.githubusercontent.com/1211152/32146095-6e178372-bcca-11e7-8de8-995e1ab533c5.png)

![image](https://user-images.githubusercontent.com/1211152/32146102-88bc3af6-bcca-11e7-9a6e-f9a0a7c87e28.png)

[2017-10-29 17:00] diasdavid commented on #89
Also missing link to the Githubs

[2017-10-30 11:29] akrych commented on #82
I prepare few new icons:)
[icons.zip](https://github.com/ipfs-shipyard/peerpad/files/1426989/icons.zip)

[2017-10-30 15:45] nicola commented on #82
You folks are so great and fast

[2017-10-30 17:27] flyingzumwalt opened #90 "Feature: Choose a pinning service"
Once you create info on an IPFS node, you usually need/want to get it pinned onto some other node that's always live. You might be running this pinning service yourself, or it might be run by your office, your family, your local public library, your favorite cloud provider, etc. This gets at the need for [Data Together](https://github.com/datatogether/datatogether) -- ways for groups of people to

[2017-10-30 21:42] VictorBjelkholm commented on #90
It would be great if we could have a standard for the API interface that would be used by pinning services. Ideally, it would look the same as the one you would use for pinning locally with either js-ipfs or go-ipfs, so it's easy to plug in your own node if wanted.

[2017-10-31 08:33] pgte commented on #90
@VictorBjelkholm what @flyingzumwalt is describing is a different type of pinning IMO. "Pinning" in this context means more "follow and persist the CRDT, so that other nodes can bootstrap from it if the author(s) go(es) away.". Correct?

[2017-10-31 10:10] #82 closed

[2017-10-31 15:18] flyingzumwalt commented on #90
@pgte is right. This feature would require pinning services that follow pubsub channels. A variant of this would be pinning services that follow an IPNS name and pin the corresponding content whenever the name gets updated.  A key thing here -- it's driven by a very common real-world UX need rather than speculation about what a pinning service API should look like. It forces us to grapple with thi

[2017-10-31 16:05] VictorBjelkholm commented on #90
Hm, I see. I agree with the general idea and my point still stands, but I might have dived into the actual implementation too fast/in the wrong place though. Pinning based on pubsub topics/IPNS names is a good idea and something that probably should also be implementation in js-ipfs and go-ipfs, so the `Select from a list of pinning services or enter the info for connecting to your pinning service

[2017-11-01 10:15] nicola opened #91 "Feature: Code for running online replica node"
Hey, I think my issue is different from the pinning issue: https://github.com/ipfs-shipyard/peerpad/issues/90

I want to:
- be able to close my laptop
- the pad should still be available since my replica node is up alive
- when someone connects, they should connect to the replica node

Feel free to close it, if this is the same as: https://github.com/ipfs-shipyard/peerpad/issues/90

[2017-11-01 10:15] nicola commented on #90
(I am so excited about peerpad and this awesome feature ^)

[2017-11-01 11:27] nicola opened #92 "Feature: Export/Snapshot Markdown"
Exporting in HTML is great, but what if other people want to copy/persist the raw markdown?

[2017-11-01 12:36] nicola opened #94 "Issue when self-hosting"
I am self-hosting peerpad on http://nicola.io/peerpad

However, two different windows don't sync on each other, I guess they fail to create a keypair?

[code]

[2017-11-01 13:35] nicola commented on #94
seems like that the error is the same as this one: https://github.com/ipfs/js-ipfs/issues/964#issuecomment-325269476

[2017-11-01 13:59] nicola commented on #94
Use localhost or HTTPS

[2017-11-01 13:59] #94 closed

[2017-11-01 15:00] nicola opened #95 "Peerpad not syncing"
I have:
- got peerpad from the repo
- run `npm i`
- run `npm start`
- opened two windows
- created a pad
- copied the url and visited it from both windows

When I type content doesnt sync and the console reports the following:
[code]

(I did the equivalent with npm run build and hosted it online, no luck).

How is peerpad hosted?

[2017-11-02 08:22] pgte opened #96 "feature: math and latex"
Math and basic latex pads.

[2017-11-02 08:22] pgte commented on #96
Work started here: https://github.com/ipfs-shipyard/peerpad/pull/93

[2017-11-02 08:28] pgte commented on #96
@nicola *now* it should be ready to go. Remember to update local dependencies, since peerpad-core upgraded to version 0.6.2. for math support.

[2017-11-02 08:28] #96 closed

[2017-11-02 08:33] pgte commented on #95
These are a bunch of PropType warnings, (they should be fixed), but I don't see a failure.
@nicola Does it get online?

About hosting:
https://github.com/ipfs-shipyard/peerpad#deploy

[2017-11-02 08:37] pgte commented on #92
Yes, I can see where that may be useful..

I could include it in the bundle, accessible, for example, via `/ipfs/qmHash/document.md`. This file would have to also be encrypted.

Another option would be to include the raw content inside the snapshot document itself, shown when the user clicks on a link named "View source".

Thoughts?

[2017-11-02 08:39] jbenet commented on #8
+1 -- would love to have this. maybe assign colors to the peers.

[2017-11-02 08:42] pgte commented on #89
@diasdavid the links are embedded in the homepage itself (for instance the Github link is in the "Peerpad is __open-source__" word) , but I'll add them to the footer / header.

[2017-11-02 08:42] jbenet opened #97 "Sometimes random full deletions happen"
I've noticed this 3-4 times now, but cannot reproduce it. Sometimes when i've just loaded a pad, and i started writing, it will suddenly delete everything.

One time, _i think (but cannot confirm)_ such a deletion propagated through to other peerpad instances (i had 3 open).

[2017-11-02 08:43] nicola commented on #95
@pgte the latest version is deployed here: https://nicola.io/peerpad, but still:

[code]

[2017-11-02 08:45] jbenet opened #98 "back up pads with ipfs-cluster?"
Wonder if we can back up pads with ipfs-cluster?

cc @hsanjuan may be a good use case for you

[2017-11-02 08:48] nicola commented on #97
It happened to me at the very beginning as well.
If you type as soon as the pad is created (eager typer bug)

[2017-11-02 08:50] pgte commented on #97
It's probably because of a race condition due to eager typing.
Quick fix is to have input disabled before online.

[2017-11-02 08:54] nicola commented on #97
Tell me if I am wrong, but ideally, I should still be able to make changes while "offline" and then once I am back on my changes should propagate

[2017-11-02 08:57] nicola commented on #95
It works now, weird, I wonder if it was the signaling server not picking up..

[2017-11-02 08:58] pgte commented on #95
Weird, works for me in Chrome, but Firefox is having problems:

[2017-11-02 08:59] pgte commented on #97
Yes, of course it should :)
I only think this is related to the time of deletion (initialising the content to an empty string), which I think Y.js is marking as an operation, in relation to the time of getting remote state..

[2017-11-02 09:09] #89 closed

[2017-11-02 12:38] pgte commented on #97
I think I understand what's going on.
Codemirror is active before Y.js is ready.
Once Y.js is ready we bind codemirror, overriding any use value code mirror may already have.
I think the fix here is to only allow input in codemirror once the CRDT is initialized, otherwise that content input meanwhile gets obliterated.
Special attention must be given so that the CRDT is considered initialized indep

[2017-11-03 05:13] whyrusleeping opened #99 "generated index.html for snapshots is giant"
The generated index.html pages are not minified, and they are very large. We should probably try to ship the smallest thing possible for this.

[2017-11-03 05:14] whyrusleeping commented on #99
The one i'm looking at appears to be around 1.5MB

[2017-11-03 05:28] VictorBjelkholm opened #100 "Prevent executing javascript in pads"
Tried creating a pad with the following content:

[code]

It happily executed the `alert('you')`

[2017-11-03 10:03] pgte opened #101 "does not sync"
silently fails to sync between peers.

[2017-11-03 10:04] pgte commented on #101
pinpointed to release 0.4.1 of ipfs-pubsub-room

[2017-11-03 10:21] diasdavid commented on #89
![image](https://user-images.githubusercontent.com/1211152/32369323-ac2cbce0-c080-11e7-8b1d-dab7de7eac30.png)

replace "Github repo" by "Open Source"

[2017-11-03 10:23] pgte opened #102 "automated sync tests"
In order to avoid regressions on the sync capability, we need automated p2p tests that verify that changes to a pad are propagated across peers.

[2017-11-03 10:34] #101 closed

[2017-11-03 10:43] pgte commented on #101
Fixed by upgrading to version 0.6.3 of peerpad-core.

[2017-11-03 10:44] pgte commented on #95
I suspect this is the same as #101 . Do you mind pulling, updating deps and testing?

[2017-11-03 11:24] #100 closed

[2017-11-03 11:58] #97 closed

[2017-11-03 12:13] pgte commented on #99
Right now, the build process reports that the file sizes after gzip are:

[code]

The `viewer.bundle.js` (329.63 KB) is the one loaded into snapshots, but still is quite large IMO.

[2017-11-03 13:59] #99 closed

[2017-11-03 14:28] pgte commented on #99
Current bundle sizes:

[code]

viewer is 149 KB zipped, 498 KB unzipped.

[2017-11-03 15:23] whyrusleeping commented on #99
That's better, can always make things smaller, but a 3x improvement is
great!

On Fri, Nov 3, 2017, 9:28 AM Pedro Teixeira <notifications@github.com>
wrote:

[2017-11-03 21:39] whyrusleeping commented on #99
It might be nice if the encrypted content was stored separately from the viewer, so the generated directory could then look like:
[code]

That way the index could be cached, and always know to load a relative path of `./encrypted-pad`

[2017-11-04 10:21] pgte opened #103 "generated snapshot bundle: bundle separate files"
In order to improve cacheability and in order for IPFS to be able to do file deduplication, bundle these files separately:

* `index.html`: only template markup, a style link and some static script tags
* `styles.css`: all the required styles, included by previous
* `viewer.bundle.js`: the generic viewer code
* `encrypted-content.js`: exposes the encrypted content, for viewer to decrypt and presen

[2017-11-04 10:23] pgte commented on #103
The snapshot bundle only needs to hold the `index.html` and `encrypted-content.js` files. The rest can be a static link to IPFS.

[2017-11-04 10:25] pgte opened #104 "style richtext editor"
Rich text editor is looking very 90's.

[2017-11-04 10:48] #104 closed

[2017-11-04 12:43] pgte opened #105 "keys transmitted off-band"
Allow for any of the keys to be transmitted off-band.
If not read key present, prompt the user.
If no write key present, allow the user to "unlock" the pad by providing the write key.

[2017-11-04 15:39] VictorBjelkholm opened #106 "Support org-mode"
Having org-mode as a document type would be amazing! Suggestion from HN.

https://news.ycombinator.com/item?id=15625376

[2017-11-04 16:55] pgte opened #107 "CRDT protocol over IPFS"
Currently, the CRDT protocol being used is the native Y.js protocol, which is independent of IPFS. Each message is signed and encrypted, and then sent over the IPFS pubsub network for all participating nodes. In addition to that, individual p2p messages (Y.js requires individual p2p messages for bootstrapping) are channeled over libp2p connection using a specific protocol handler.

(The snapshot f

[2017-11-04 16:58] pgte commented on #107
/cc @diasdavid @haadcode @vyzo @nicola

[2017-11-04 17:02] diasdavid commented on #107
@pgte please use https://github.com/ipfs/research-crdt for this discussion :)

[2017-11-04 17:02] #107 closed

[2017-11-04 17:17] pgte commented on #7
The design by @akrych :

<img width="256" alt="90f6c946-4315-4d6a-bd97-fd868ce55d90" src="https://user-images.githubusercontent.com/47910/32407652-034f95f2-c184-11e7-9e10-4a7132a7e3fc.png">

[2017-11-04 17:43] akrych opened #108 "Globe picture on homepage"
Just design thing ;) we need add the globe illustration on homepage.
Without it the page looks unfinished ;) (image is on drive)

![image](https://user-images.githubusercontent.com/22168118/32407900-dc59f65c-c18f-11e7-9af4-944b6f4547a8.png)

[2017-11-04 17:56] akrych opened #109 "Stars on the top banner - homepage"
We need add stars to the top banner background at home page, like on project:
(picture is on drive)

![image](https://user-images.githubusercontent.com/22168118/32408018-997ea254-c191-11e7-9a85-185d80673456.png)

[2017-11-04 18:01] akrych opened #110 "Underline links on homepage"
Links in menu and logo shouldn't be underlined (also in bottom menu):

![image](https://user-images.githubusercontent.com/22168118/32408051-11ef9306-c192-11e7-8fe4-3a05a578a709.png)

[2017-11-04 18:14] victorb opened #111 "Pad type dropdown not obvious it's a dropdown"
![image](https://user-images.githubusercontent.com/459764/32408186-d347f790-c161-11e7-9cd7-ae5706c92f0c.png)

Had some people trying out PeerPad but not realizing there is a code pad. My guess is because it's not obvious that the dropdown is actually a dropdown. Maybe a caret would help?

[2017-11-04 19:58] lgierth opened #112 "OpenError: The operation failed for reasons unrelated to the database"
Anytime I open a math/markdown/richtext pad, only the title field is editable, but not the code field. Console shows:

[code]

Then when I navigate back to the frontpage:

[code]

[2017-11-04 19:58] lgierth commented on #112
In Firefox 57.0b14 (64-bit)

[2017-11-04 20:07] timthelion opened #113 "Chromium goes Aw Snap after a while"
I'm on chromium Version 57.0.2987.98 Built on 8.7, running on Debian 8.9 (64-bit).
I get Aw, Snap after a while. Seems to happen when I've switched to another tab and someone edits the text. Refreshing fixes things.

http://ipfs.hobbs.cz/ipfs/QmVLC24FaRtEpz4U1kyMnMLvUEYsb682yUkMeyXncigrx9

[2017-11-04 21:47] pgte opened #114 "batter asynchronous error handling"
A global error handler should be installed, catching uncaught errors + rejections, and presenting them to the user.

[2017-11-04 21:49] pgte opened #115 "Does not work on Safari 11"
Fails silently, it's unable to find and connect to other nodes. No console log.
IPFS: 0.26.0
Safari: 11.0.1

[2017-11-07 11:53] #110 closed

[2017-11-07 11:56] pgte commented on #109
@akrych can't seam to find individual image, and I don't have the capability to parse the .psd. Could you please produce this image and put it on the drive? Thanks!

[2017-11-09 11:11] akrych commented on #109
Sure, I add it on drive :) 👍

[2017-11-11 15:17] flyingzumwalt opened #117 "Content syncs on one laptop but not the other."
One of my laptops loads my pad fine, and I collaboratively edited it with @mishmosh with no problems, but my other laptop is not able to load the content at all. Tried it on Chrome and Safari.

Peepad loads, but shows an empty document
Peerpad _does_ find the peers when I open the pad on my other laptop, but still doesn't display the content of my pad
Nothing shows up in the console when I load th

[2017-11-11 15:18] flyingzumwalt commented on #113
:+1: same here with Chrome on OSX 10.12.16
Chrome version: 62.0.3202.89 (Official Build) (64-bit)

[2017-11-11 15:21] flyingzumwalt commented on #90
Both in terms of everyday usefulness and in terms of PeerPad demonstrating how to build peer to peer apps, I think this feature is the most important peerpad feature that's not implemented yet.

[2017-11-12 10:21] pgte commented on #113
Probably something with long-running WebRTC connections.
I think this would improve if we were to manage connections according to user usefulness...

[2017-11-12 10:25] diasdavid commented on #113
@pgte a quick solution short term is to use websocket-star so that users don't have to experience this. Nevertheless, yes, we need the ConnMngr

[2017-11-13 11:41] nicola commented on #95
actually solved!

[2017-11-13 11:41] #95 closed

[2017-11-13 11:42] nicola commented on #80
I think this is becoming the key feature that is stopping me from using it in practice and fall back to google docs.

[2017-11-13 18:32] pgte commented on #90
About privacy:

Snapshots can be safely pinned without compromising privacy: they need the decryption key (given out of band, typically in the full URL) to be able to decrypt the content. (The key is unique per snapshot).

Now, following the changes and persisting them is more tricky. We have to think of a way of saving the changes without only knowing the pad ID. The read or write keys should not

[2017-11-13 21:57] lgierth opened #119 "Have big red banner on editor page"
The big red banner on the frontpage is great! I have a hunch we should also show it on the editor page. When passing pad links around, people don't neccessarily ever see the frontpage.

[2017-11-14 08:21] #119 closed

[2017-11-14 09:57] nicola commented on #90
@pgte the problem here looks like: "where do I store the keys"?

**Not natural solution**: I really love the way metamask becomes some form of browser passport that holds your keys. It would be nice to integrate Metamask or an IPFS-similar solution (remember the do not require any extension!)

[2017-11-14 10:12] diasdavid commented on #90
@pgte a temporary solution is being able to configure an IPFS endpoint, being the default the open Infura nodes. You can use js-ipfs-api to connect to:

[code]

This is not perfect because we want more guarantees, but it would give that async experience people are looking for when sharing their snapshot urls.

[2017-11-14 11:48] pgte commented on #90
@nicola I think it's more complicated than that, if I'm understanding you correctly.

Hopefully a purely pinning node would pin the changes without decrypting them, i.e., without having to know the key. I think that'd be possible, but I'd have to experiment around a bit.

[2017-11-14 11:50] pgte commented on #90
@diasdavid what do you mean by "configure IPFS endpoint"? Use ipfs-api client remotely?

[2017-11-14 11:53] diasdavid commented on #90
Yes to ping a IPFS node that can pin the files for us.

[2017-11-14 11:55] pgte commented on #90
@diasdavid One issue: that would not allow to publish while offline, contrary to the current.
I think this could be solved at the UI, though...
Thoughts?

[2017-11-14 12:38] #7 closed

[2017-11-14 18:39] flyingzumwalt commented on #90
With The IIIF work in June we described a pattern where pinning services (ie. a University Library) follow pubsub channels that have been identified by their users (ie. a researcher at that university). I’d like to keep that pattern in mind here. Yes, users need to tell the pinning service which topics to follow, which is a good fit for hitting an api endpoint, but the ongoing pinning of updates s

[2017-11-14 21:34] dignifiedquire commented on #115
Probably same issue, doesn’t work on latest iOS Safari for me v11.0.3

[2017-11-14 21:35] dignifiedquire opened #120 "Add report bug link on every page"
Would be great to have that making it easier and quicker to file bugs.

[2017-11-16 10:33] nicola commented on #120
except snapshots

[2017-11-18 22:45] pgte commented on #113
Depends on https://github.com/ipfs/js-ipfs/issues/1088

[2017-11-20 16:39] diasdavid opened #121 "Test with next js-ipfs"
Hi @pgte, could you try running peerpad with latest js-ipfs? We want to make sure our dependents are ready for the next release, read all the highlights here - https://github.com/ipfs/js-ipfs/issues/1095

[2017-11-30 11:19] LaPingvino opened #122 "Failure to link two sides"
I tested with Iran and inside my own country of the Netherlands, and the typed text doesn't arrive on the other side. Also when I write locally, it has a noticeable lag of sometimes more than a minute and sometimes necessitating a full refresh of the page to see the contents.

[2017-11-30 14:33] nicola opened #123 "feature-request: Ability to download HTML and Markdown"
I would love if you could implement a download button that will download (maybe in a zip?) both the HTML generated and the current markdown.

Thanks!

[2017-12-05 17:00] pgte opened #125 "upgrade to IPFS v0.27"
Have been testing PeerPad with js-ipfs v0.27.

The libp2p-websocket-star transport is looking very promising! 🌟

Test results are looking good under normal connected scenarios, but things tend to break when testing disconnection and subsequent reconnection.

Right now, upgrading to js-ipfs v0.27 depends on these fixes:

- [x] https://github.com/libp2p/js-libp2p-websocket-star/pull/39
- [x] https:/

[2017-12-06 09:15] pgte opened #126 "question: how to test resilience to network conditions?"
In order to automate tests for when network conditions change, I think we need some way to:

* Spawn n browsers
* Open the same pad on each of them
* Cut network for *some* of them
* Re-enable network for *some* of them
* Observe app behaviour

By *network* here I mean disable Websockets connections to a websocket-star relaying service (now that peerpad-core is going to use websocket-star for tran

[2017-12-06 11:18] pgte commented on #126
@dignifiedquire any thoughts on this? :)

[2017-12-06 13:20] pgte opened #127 "debugging interface"
In order to investigate some sync issues we need to have better visibility over exchanged messages underneath the surface.

I'm thinking that we could simply observe these using the browser Javascript console.
Since there is bound to be quite verbose, I think there should be a button on the interface to enable and disable the output.

I propose a button on the editor sidebar called "Debugging". Wh

[2017-12-06 17:56] pgte commented on #127
Now peerpad is debuggable.
<img width="1183" alt="hey12ab" src="https://user-images.githubusercontent.com/47910/33676824-b0a68696-daae-11e7-8c69-bb5f68f63624.png">
Thank you @akrych !

[2017-12-06 19:01] diasdavid commented on #125
https://github.com/libp2p/js-libp2p-websocket-star/pull/39 was merged and released as a patch version.

peerpad should be working well js-ipfs 0.27 and webrtc-star, right? I trust you tested it a couple of times before the release was done.

[2017-12-06 20:05] pgte commented on #125
I tested discovery, pubsub and the files API, but I think I missed testing reconnection, and version 0.27.0 has a regression there when using websocket-star— I believe that’s what these latest fixes fix..

On 6 Dec 2017, 19:01 +0000, David Dias <notifications@github.com>, wrote:

[2017-12-07 08:14] pgte commented on #125
@diasdavid BTW, I know I'm conflating js-ipfs v0.27 and using websocket-star, but I want to take this opportunity to make websocket-star viable to improve app stability. :)

[2017-12-07 09:22] #127 closed

[2017-12-07 14:10] diasdavid commented on #125
@pgte ack :) that is what I was missing and finding strange.

Good news, just deployed the latest websocket-star-rendezvous, you should be able to test this again and get positive results in all the tests :)

[code]

[2017-12-07 20:01] diasdavid commented on #121
#125

[2017-12-07 20:01] #121 closed

[2017-12-07 20:19] pgte commented on #125
Awesome, looking good, can't reproduce data loss with IPFS and linked dependencies master branches. Thanks @diasdavid !

[2017-12-07 20:32] pgte commented on #122
@LaPingvino There were some sync issues that I think got solved recently.
Just deployed a new version that should fix this.
Do you mind trying again?

[2017-12-07 20:39] diasdavid commented on #125
Great to hear! @pgte try a fresh install, the fixes were released as patches, no linking should be necessary.

[2017-12-07 20:46] daviddias opened #129 "Add a version to the website (or commit hash) so that users can tell which version is being used"
^^

[2017-12-07 21:18] pgte commented on #125
Done via peerpad-core@0.10.0 - https://github.com/ipfs-shipyard/peerpad-core/pull/6

[2017-12-07 21:18] #125 closed

[2017-12-09 00:57] lgarron opened #130 "Javascript console error + out of sync"
<img width="1552" alt="screen shot 2017-12-08 at 16 55 19" src="https://user-images.githubusercontent.com/248078/33790835-b9f72c9c-dc38-11e7-86df-60e8fbf92959.png">
<img width="1552" alt="screen shot 2017-12-08 at 16 55 22" src="https://user-images.githubusercontent.com/248078/33790836-ba0e8608-dc38-11e7-93bb-85b456138382.png">

[2017-12-11 10:02] LaPingvino commented on #122
I tried again, it works better, but still not completely reliable :( We got contact going at least, and a working connection with live typing, but it seems to always only work in one direction somehow...

[2017-12-28 13:59] nicola opened #132 "feature-request: Links that automatically generate a pad"
I love going on cryptpad at the address: `https://cryptpad.fr/code/` and get redirected to a whole new peerpad without going through the main page.

This feature might also be great for folks like me that want to host their own peerpad and don't need the welcome peerpad explainer (nicola.io/peerpad)

[2018-01-21 23:35] daviddias opened #134 "Needs a way to verify that we are on the right Pad"
I've seen users try PeerPad, mess up the URL and enter different pads, ending up very confused why messages do not sync.

PeerPad should have its full URL in `baseEmoji` or some other useful encoding that enables users to check that they are indeed in the same place.

@pgte I feel that this is simple feature that will add a lot of value, I'm tagging it as P0

[2018-01-24 01:31] daviddias opened #135 "Put js-ipfs in a Service Worker"
Here is an idea. In order to solve the "multi tab" issue, the js-ipfs node for PeerPad can be spin up on a Service Worker -- https://github.com/ipfs/ipfs-service-worker -- and then we can use the work that @alanshaw has been doing on postmsg-rpc -- https://youtu.be/qTOUMWujoEg -- to talk with the node.

[2018-01-24 01:33] diasdavid commented on #135
This could also improv PeerPad perf since js-ipfs would run on a separate thread.

Can also be interesting for orbit.chat //cc @haadcode

[2018-01-24 09:09] alanshaw commented on #135
I'm pretty sure [`ipfs-postmsg-proxy`](https://github.com/tableflip/ipfs-postmsg-proxy) could be adapted or forked for this.

[2018-01-25 09:43] pgte commented on #135
@diasdavid That's a great idea. I'll be toying around with this in the next days.

[2018-01-25 12:14] haadcode commented on #135
Agreed this is a great idea 👍 Not just for orbit.chat but in general I believe this pattern will help a lot of (browser) app devs. The way we currently have to put everything into one thread is quite heavy for apps..

[2018-01-28 12:38] gedw99 commented on #115
What's the failure ?
Is it the crappy indexdb support in safari.
What versions are you on
What about iOS ?

[2018-02-01 06:09] diasdavid commented on #115
It has worked for me multiple times in Safari, I've done demos with it. What is the problem still?

[2018-02-28 14:06] diasdavid opened #140 "Testing with js-ipfs next (0.28)"
Ran tests and got:

<img width="713" alt="image" src="https://user-images.githubusercontent.com/1211152/36791768-a5099b08-1c66-11e8-9799-abaa7429a5cc.png">

Seems that all is good (tests passing). Kind of surprised that there are only 2 tests though, @pgte ?

[2018-03-12 09:43] pgte opened #141 "persistence improvements"
As a document author, I want my document to exist in the network even when my replica is not online.

For me to be able to do this, I should be able to configure or setup an external replica.

I should not need to trans it any keys in order for the replication to work.

[2018-03-12 09:45] pgte opened #142 "opaque replication"
I should be a able to setup a node that replicates any / all of my documents.
This node should be able to do that even without being able to decrypt the document.
I should not have to transmit any private key for me to be able to do that.

[2018-03-12 09:46] pgte commented on #141
Depends on https://github.com/ipfs-shipyard/peerpad/issues/142

[2018-03-12 09:50] pgte opened #143 "use IPFS DAG as transport"
Instead of using the Y.js protocol over the IPFS pub-sub network in order to transmit changes, we should use the IPFS DAG API to do that.
By doing this, we allow [opaque replication](https://github.com/ipfs-shipyard/peerpad/issues/142) to easily happen, which enables us [to improve persistence characteristics of the system](https://github.com/ipfs-shipyard/peerpad/issues/141).

[2018-03-12 10:09] pgte opened #144 "identify humans"
As a document collaborator, I should be able to be informed and verify the identity of the humans I'm collaborating with.

[2018-03-12 10:18] pgte opened #145 "access control per document"
## Grant access

As a document administrator, I should be able to delegate access to other humans.

## Access types

When delegating, I should be able to specify which type of access I'm giving to another human:

* Admin (become a document administrator)
* Reader (follow the changes of a document in real-time)
* Writer (make changes to a document)

## Revoke access

Also, as a document administrat

[2018-03-12 23:45] fritzy commented on #143
The obvious answer would be to rewrite ipfs-core to use peer-crdt. Is that what you had in mind, @pgte?

[2018-03-13 09:04] pgte commented on #143
You mean rewrite peerpad-core to use peer-crdt? If so, yes. :)

[2018-03-16 12:18] pgte commented on #143
Tracking:

Right now there are 3 issues we depend on to make this happen using [peer-crdt](https://github.com/ipfs-shipyard/peer-crdt) and [peer-crdt-ipfs](https://github.com/ipfs-shipyard/peer-crdt-ipfs) to be usable for this.

* [ ] [libp2p connection management v0.1](https://github.com/libp2p/js-libp2p-connection-manager/issues/4)
* [ ] [peer-crdt fast multi-log sync](https://github.com/ipfs-sh

[2018-03-19 21:07] pgte opened #146 "Consider using delta state CRDTs"
Paper: https://arxiv.org/abs/1603.01529

State-based CRDTs ensure convergence through disseminating the entire state, that may be large, and merging it to other replicas; whereas operation-based CRDTs disseminate operations (i.e., small states) assuming an exactly-once reliable dissemination layer.

Operation-based CRDTs disseminate operations (i.e., small states) assuming an exactly-once reliable

[2018-03-21 10:18] pgte commented on #146
Another relevant paper brought to my attention by @diasdavid:

"Efficient Synchronization of State-based CRDTs": https://arxiv.org/abs/1803.02750

[2018-04-10 14:26] VictorBjelkholm commented on #134
I would suggest not to have the URLs as emoji (please) but maybe have a similar verification as Telegram calls. They show four or five emojis that you can verify out-of-band to make sure you see the same emojis, which represents the keys being used. PeerPad can have something similar listed in one of the corners, that you can verify when needed and it would still allow us to have normal URLs.

[2018-05-01 08:56] diasdavid opened #150 "PeerPad is not working"
![image](https://user-images.githubusercontent.com/1211152/39467379-a78d55a0-4d25-11e8-928d-62bd17406041.png)

Seems that something got published to PeerPad and it stopped working. Wonder if this was intentional or not, it might have slipped with the auto deploy. //cc @VictorBjelkholm

[2018-05-01 09:48] pgte commented on #150
@olizilla I couldn't reproduce this locally, but I got the error `this._ipfs._libp2p.dialProtocol is not a function`.
This PR should fix this: https://github.com/ipfs-shipyard/peer-pad-core/pull/10

[2018-05-01 09:50] olizilla commented on #150
Same here, i think that'll fix it.

[2018-05-01 10:40] olizilla commented on #150
To reduce the scope for dep related issues to appear in prod, and to improve our chances of recreating them locally, we're going to add a `package-lock.json` spec to the repo.

I'm gonna PR with the minor update to peer-pad-core version, and add the package-lock.json to pin all the deps. I'm then going to look at adding integration tests so CI can give us a heads up about these things before deplo

[2018-05-01 11:00] olizilla commented on #150
Ok, so there is a failing test `src/components/home/Home.test.js` so I'm looking at fixing that too.

[2018-05-01 11:27] olizilla commented on #150
https://github.com/ipfs-shipyard/peer-pad/pull/151 is in the pipe. Awaiting the Jenkins launch codes now.

[2018-05-01 11:34] olizilla opened #152 "Create a staging environment"
It'd be great to be able to deploy master to dev.peerpad.net automagically from Jenkins, and explicitly pick a version to publish to peerpad.net once we're happy that a given version is sound.

This isn't a replacement for more automated testing. Peerpad is relied on as a public demonstration of ipfs capabilities, so we need both.

cc @VictorBjelkholm @diasdavid

[2018-05-01 17:32] olizilla commented on #150
Bumping the deps has not fixed the issue. I'll write up what I've found so far, later this eve.

[2018-05-01 20:10] olizilla commented on #150
In Chrome, If you use a fresh browser profile or remove all the indexDbs for the domain, you hit
[code]
Which looks like https://github.com/ipfs/js-ipfs/issues/1131

[2018-05-01 21:06] olizilla commented on #150
peerpad is currently built as a "website (hugo)" job on jenkins, so its production build is triggered by

[code]
https://github.com/ipfs/jenkins-libs/blob/796cab23030077109f98bbb092d57ed9f4964772/vars/website.groovy#L80

The ipfs/ci-websites docker image is built with these deps https://github.com/ipfs/ci-websites/blob/af0b98f712a5e6bd4174eb86e2ee05c9bdaacb57/Dockerfile

The prod site is the resul

[2018-05-01 21:12] olizilla commented on #150
No yarn version is specified. To get a deterministic build, we'd need both a yarn.lock file and a pinned yarn version. There is an open PR to pin the version of yarn (and aegir) https://github.com/ipfs/ci-websites/pull/2/files but a project like peerpad should be able to pin its own dependencies and have the build process use them, rather than have CI decide what versions to use.

[2018-05-01 21:29] olizilla commented on #150
Using `yarn@1.6.0`, the same version that CI used (see: https://ci.ipfs.team/job/IPFS%20Shipyard/job/peer-pad/job/master/5/console) and following the same steps

- `yarn`
- `yarn build`
- serve up `build/` with a static http server

The same errors are observed in the local build

![screenshot 2018-05-01 22 25 37](https://user-images.githubusercontent.com/58871/39494643-2374ea8e-4d8f-11e8-99c1-6eb

[2018-05-01 21:32] olizilla commented on #150
My preferred solution here is to use `npm` and a `package-lock.json`file to pin the deps. The un-answered question is why the dep tree installed by `yarn` doesn't work but the dep tree installed by `npm` does...

[2018-05-01 22:39] olizilla commented on #150
@fsdiogo do you have any idea why a yarn build would lead to a bundle with js-ipfs in that exhibits the errors you mentioned in https://github.com/ipfs/aegir/pull/214 but an npm install does not?

[2018-05-02 14:35] olizilla opened #154 "Use relative urls everywhere"
Once nice feature of the deploy set up is that it publishes a snapshot of the built site to ipfs for evey commit, like: https://ipfs.io/ipfs/QmbC54Bshtcgr1ndX3zWdecbCoZdRujvuxXrkqhmcGKx5P/#/

For a site to work as expected when deployed under https://peerpad.net/ and under an ipfs path like /ipfs/QmHash, we have to use relative urls _everywhere_!

There are a few urls in peer-pad now that are abso

[2018-05-02 14:39] olizilla commented on #140
https://github.com/ipfs-shipyard/peer-pad-core is where the js-ipfs action is, which is now rolling with  `js-ipfs@0.28.2` and is deployed.

[2018-05-02 17:12] fsdiogo commented on #150
Hmm, that's weird.. I don't see any reason for not working with yarn 🤔

[2018-05-02 17:13] VictorBjelkholm commented on #150
Indeed! What I want to do with the pipelines is able to pipe them together, so you can call first `javascript()` and then `website()` and you'll get testing + deployment.

[2018-05-02 19:04] olizilla opened #155 "Non fatal "already piped" error on _getPeerInfo"
Saw this in the Chrome console when syncing from Chrome to Firefox today on prod.

[code]

[2018-05-03 09:32] olizilla commented on #150
Just doing some peerpadding
![screenshot 2018-05-03 10 30 48](https://user-images.githubusercontent.com/58871/39569461-32370884-4ebd-11e8-9d5b-a309a7a3c181.png)

[2018-05-08 12:29] olizilla opened #159 "Peer-pad UI Lead Maintainer"
I volunteer to take on the Lead Maintainer role for the peer-pad UI.

I think it needs one, as the codebase needs some love and tests, and the service is an important demo of what IPFS + CRDTs can do.

@pgte is doing great work with peer-pad-backend and the CRDT research. I am offering to share the load and take on responsibility for the front-end (this repo) and ensure that it is maintained in ac

[2018-05-08 13:41] pgte commented on #159
I vote yes, peer-pad is in dire need of @olizilla!

[2018-05-08 19:56] one000mph commented on #150
@olizilla I'm doing some pm-ing for the andyet team and had a conversation with David this morning. I'd like to understand if a change that one of our devs made caused this issue and how we can avoid it in the future. It is unclear to me whether it was a change in this repo or a pre-existing issue in the CI system or with dependency bundling, that caused peerpad to break. The [DEPLOY.md](https://g

[2018-05-08 21:39] lgierth opened #161 "Was this repo renamed from "peerpad"?"
I'm pretty sure it was named peerpad - it's named peerpad everywhere else. Is it about the peer star work?

[2018-05-08 21:49] VictorBjelkholm commented on #161
Yes, it was. https://github.com/ipfs-shipyard/peerpad redirects to here, so evidence of a rename.

[2018-05-08 22:30] one000mph commented on #159
We had a discussion today about this as well and I'll summarize here to keep things out in the open. Since the andyet team is heading up some OKRs on peer-pad in Q2 (and potentially part of Q3), it may make sense for someone from our end to also be involved in the maintenance. @jacobheun has volunteered and will be reaching out to @olizilla and @diasdavid to discuss what that could look like. He h

[2018-05-08 22:38] VictorBjelkholm commented on #159
Please involve me in this as well, as peerpad is not the only project that needs more of this.

[2018-05-09 09:42] olizilla commented on #150
@one000mph I'm a little uncomfortable. I feel like I'm missing some nuances. Please can we arrange a call? It'd be great to talk with you all.

The short version is, no, as far as I can tell, none of your devs caused this issue. Work was done by PL to allow peerpad to be automatically deployed to production when commits are merged to master. The build process that was used to create the prod site

[2018-05-09 09:46] olizilla commented on #150
Also of note, it occurs to me that smoke test being run on travis won't catch the issue of the travis test build steps diverging from the jenkins deploy build steps, which is the root cause of this issue.

@VictorBjelkholm it'd be rad if we could add a post build test hook to jenkins that could pass the root hash of the site once it's been added to ipfs but before we update the dns. We could confi

[2018-05-09 09:48] olizilla commented on #159
I'd gladly not be the lead maintainer of peer-pad if it's something that &yet are taking on. I just think it needs one.

Regardless of who takes it on, it is very much CONTRIBUTIONS WELCOME OMG PLZ BBQ PARTY!

[2018-05-09 14:03] olizilla opened #163 "What's going on with the Jest snapshot tests"
I'm seeing the Homepage.test.snap flip flopping between needing an undefined style prop and not expect a style prop at all. I'm going to figure out what's causing it as it's causing spurious test failures and noise in commits as we have to keep updating the snapshots with meaningless changes to get the test to pass.

[2018-05-09 14:04] olizilla commented on #161
Yes, i think they all were, https://github.com/ipfs-shipyard/peer-pad-core used to be peerpad-core

[2018-05-09 14:05] olizilla commented on #163
cc @one000mph

[2018-05-09 14:27] jacobheun commented on #159
If everyone has time today or early next week ( I will be out the rest of this week ), it would be great to hop on a call. I am happy to help out wherever I can.

I think it might make the most sense for @olizilla to take on the lead maintainer in the immediate term, and for us to look at what makes long term sense for the project. I'm happy to start working toward that, but would be hesitant to d

[2018-05-09 15:52] olizilla commented on #163
Looks like this is caused depending on which version of `enzyme-to-json` you have. It's fixed to remove `undefined` properties in version 3.2.1, so I'm going to update the dep in the package.json and package-lock.json.

This should fix the flip flop of failing snapshot tests.

[2018-05-09 15:52] olizilla commented on #163
See https://github.com/adriantoine/enzyme-to-json/pull/84

[2018-05-14 09:31] #163 closed

[2018-05-14 10:48] olizilla opened #165 "Websocket error when ws-star.discovery.libp2p.io connection fails"
Posting this here for visibility.

![screenshot 2018-05-14 11 38 47](https://user-images.githubusercontent.com/58871/39993094-9b7b43de-576c-11e8-894b-bb83d578c157.png)

See:
- https://github.com/ipfs-shipyard/peer-pad-core/issues/13
- #114

[2018-05-15 16:51] lgierth commented on #165
@VictorBjelkholm is working on one

[2018-05-15 16:59] VictorBjelkholm commented on #165
Indeed! Current testing multiaddr is `/dns4/ws-star0.lon.dwebops.pub/tcp/443/wss/p2p-websocket-star`. Once we're 100% everthing is working fine and have better metrics/monitoring in place, I'll switch the records so ws-star.discovery.libp2p.io points to the new one.

[2018-05-16 07:36] VictorBjelkholm commented on #165
It has now been deployed to ws-star.discovery.libp2p.io. But there is not a dedicated one for peerpad, missed that point last time I read this issue. Will create a new one for just peerpad.

[2018-05-16 15:32] jacobheun commented on #159
@olizilla and I met today to talk about PeerPad maintenance. With andyet taking on more responsibility for the app I'd like to volunteer for the lead maintainer role.

While I am heavily involved in js-ipfs development, I think dedicating some of my time to PeerPad is meaningful to the project. Being responsible for the quality of the application and releases would help me provide more insight on

[2018-05-17 17:57] jacobheun opened #167 "Jenkins intermittently fails with permission denied"
Jenkins will occasionally fail attempting to open the ipfs repo lock. Re-running the build again will eventually succeed.

Here is a link to an example failure: https://ci.ipfs.team/blue/organizations/jenkins/IPFS%20Shipyard%2Fpeer-pad/detail/PR-160/3/pipeline/

The builds stack trace:
[code]

[2018-05-17 17:57] jacobheun commented on #167
@VictorBjelkholm do you have an idea of why this would be happening?

[2018-05-18 13:43] pgte commented on #165
@VictorBjelkholm not sure if in flux, but I tried using `/dns4/ws-star0.lon.dwebops.pub/tcp/443/wss/p2p-websocket-star` in PeerPad and I couldn't connect.

[2018-05-18 17:02] lynnandtonic opened #168 "Implement a preprocessor to improve CSS development"
PeerPad is currently using PostCSS for prefixing and variables.

Adding a preprocessor could improve the experience and clarity of CSS development (for the custom CSS outside of Tachyons patterns).

Sass (most ubiquitous) is a good option or Stylus (preferred by &yet team).

Are there any concerns with adding this to the stack?

[2018-05-18 17:05] lynnandtonic opened #169 "Refactor CSS to avoid collisions"
When updating the navigation for the PeerPad marketing homepage, some styles effected the navigation for PeerPad product.

This theoretically shouldn't happen, so I plan to do a CSS review and restructure anything that could be better componentized.

[2018-05-18 18:40] lynnandtonic commented on #168
I talked with @jacobheun and we both think Stylus is the way to go. Sass isn't as reliable across multiple Node versions and what we do here could also help guide the direction the Blog goes.

We are strong and comfortable with Stylus and can help others with it.

@diasdavid @pgte @olizilla Any thoughts or objections to using Stylus here?

[2018-05-21 16:52] lynnandtonic commented on #169
Ok, so here's where we're at.

[App.js is currently pulling in the Home component](https://github.com/ipfs-shipyard/peer-pad/blob/master/src/components/App.js#L5) and so the [app is getting the Homepage's CSS](https://github.com/ipfs-shipyard/peer-pad/blob/master/src/components/home/Home.js#L7). Because there are separate CSS files, it appears like the CSS is componentized, but it's currently not.

[2018-05-25 17:01] one000mph opened #174 "What is a math pad?"
@designsaves has been auditing the current interface and preparing for upcoming front-end work. We couldn't access the math pad feature that is described in this PR https://github.com/ipfs-shipyard/peer-pad-core/pull/2. It looks like the work has already been done in the code though. Is this a feature that you'd like to keep? cc @pgte

[2018-05-28 15:29] pgte commented on #174
A math pad is a markdown pad that accept the markdown math extensions.
It's currently available in production by choosing "Math pad" in the pad type dropdown:
<img width="477" alt="peerpad" src="https://user-images.githubusercontent.com/47910/40621333-47dfea62-6294-11e8-9531-0b57cad655b4.png">

Yes, I would like to keep this feature.

[2018-05-28 15:29] #174 closed

[2018-05-29 16:57] designsaves opened #175 "Convert current css to css modules"

[2018-05-29 17:02] designsaves opened #176 "UI audit + document user flows for v1 features"

[2018-05-29 17:04] designsaves opened #177 "Updated wireframes to reflect v1 features"

[2018-05-30 13:46] mkg20001 opened #178 "Switch from websocket-star to the rendezvous protocol"
Currently peer-pad uses the websocket-star protocol.
I would like to help with switching it over to the rendezvous protocol.

_This issue is currently blocked by the completion of the javascript implementation of the libp2p rendezvous protocol_

[2018-05-30 14:37] jacobheun commented on #108
Resolved by https://github.com/ipfs-shipyard/peer-pad/pull/148

[2018-05-30 14:37] #108 closed

[2018-05-30 16:00] #161 closed

[2018-05-30 20:01] pgte commented on #178
@mkg20001 could you, in a gist, give us the advantages of the rendezvous protocol over using ws-star?
Could you also list the issues this depends on?
Thank you!

[2018-05-31 14:52] artus commented on #36
This issue can be closed, no? I had the same problem with Firefox (which is configured to never remember history -> FF defaults to incognito under the hood) and when switching to another browser, the issue did not happen. There is one remaining problem however, this error can't be catched with a `try-catch` block?

[2018-05-31 15:22] jacobheun commented on #36
The error doesn't appear to be occurring anymore, and instead fails silently, so you can't actually do anything with PeerPad once you open a pad. I agree with @pgte that we should do some feature detection so that we can better inform the user. I created https://github.com/ipfs-shipyard/peer-pad-core/issues/18 to create support for that.

[2018-06-01 08:13] pgte commented on #178
Thank you Maciej for explaining! (when I said a gist, I meant it in the figurative sense, not necessarily a GitHub gist, but this works great!)

If I understand correctly, by PeerPad using this protocol, we can spread the load between several rendez-vous servers and this won't limit visibility of peers, as they still will be able to find each-other.

Somewhat related is the one problem we're I'm t

[2018-06-01 13:03] mkg20001 commented on #178
Yes, although currently that has some limitations. If peer A and peer B announce register at rendezvous 1 **only** and peer C registers at rendezvous 2 **only** peer A/B and C will never see each other.

The planned solution for this is to use federation to exchange the registrations across multiple rendezvous servers.

Currently there is no example code as the libp2p interface-discovery would hav

[2018-06-01 16:59] pgte commented on #178
@mkg20001 thank you, this sounds very much like something very beneficial. Please do keep us posted on the evolution of this transport.

[2018-06-03 18:33] pgte opened #180 "Scale Peer-Pad"
# Scale Peer-Pad

This issue tracks the issues and requirements of this scaling effort.

## Goal

In the short term, we should be able to have 150 concurrent users, editing the same pad.

Here is an outline of the plan for your comment and context:

## Connection count throttling + app hashring building

Instead of announcing every peer that is discovered to the IPFS layer, we're going to do some

[2018-06-03 18:34] pgte commented on #180
@diasdavid could you review this ^^?

[2018-06-03 21:41] diasdavid commented on #180
Thank you for writing this up. I've skimmed through it and LGTM. I'll review in detail tomorrow.

<img width="375" alt="image" src="https://user-images.githubusercontent.com/1211152/40891529-f474a40e-677e-11e8-986f-21412f30961c.png">

This made me laugh ahahaha I appreciate the intent to credit me the idea, spent a solid 5 minutes trying to figure out what the _Dias_ word meant.

[2018-06-04 07:37] pgte commented on #180
@diasdavid left that Easter egg for you :) — I couldn't find it anywhere in the literature, so you have prior art! ;)

[2018-06-04 19:39] #168 closed

[2018-06-05 09:13] pgte commented on #176
Some comments:

- Code Debugging: already somewhat of a feature: enables internal debugging messages, printed into the browser console.
- Ability to switch between document types: very hard to do between rich text and markdown types.
- Last changed' timestamp display: last changed is a local concept, and I think it's ok to be local. Also, I think that adding the "last edited by <user>" would be he

[2018-06-05 16:31] diasdavid commented on #180
@pgte With 6 fingers, the PubSub message will reach be capable of reaching 216 in three hops. However, there are some considerations to have here:

- If 150 peers are broadcasting at the same time, there will be a lot of chatter. It will be good to batch updates locally. A potential (very arbitraty, please think about these values) way is to set interval to broadcast the local new head to N_Peers/

[2018-06-05 17:16] pgte commented on #180
Yes, I have that concern too. I think we could easily the changes and them and use a gossip frequency heuristic that takes into account the number of peers and the urgency (amount of changes since last broadcast) and also random enough to avoid spikes..
We could also, for a given collaboration, split between deltas (which can be more frequent) and full state gossips.

[2018-06-08 14:36] #175 closed

[2018-06-11 13:44] jacobheun commented on #152
@VictorBjelkholm with #182 merged, we should now have access to dev.peerpad.net. It looks like there is no DNS setup for that though. How can we go about getting that added/configured?

[2018-06-12 12:06] mkg20001 commented on #178
I created a WIP PR on peer-pad-core: https://github.com/ipfs-shipyard/peer-pad-core/pull/19

[2018-06-17 19:52] one000mph commented on #177
Commenting and Outlining features have been removed from the beta scope. https://docs.google.com/spreadsheets/d/1g5X6-ky4D1t2sFe_HNU3MCn9O3IuA-JTkqqIrkrzNfU/edit#gid=0

Since we have limited time remaining before end of July let's try to limit the new feature scope as much as possible

[2018-06-19 11:11] pgte commented on #178
According to our scaling requirements, we need 150 concurrent users accessing the same pad. Some back-of-the-napkin math tells me that, to endure that, each node will be connected to 15 other nodes, sending a broadcast message every 500ms.

@mkg20001 Is it possible to do some load tests to see how far off we are from scaling to that?

[2018-06-19 11:36] pgte commented on #178
@mkg20001 this broadcast message is not for discovery, it's an estimate of the messages deriving from the operations. What do we need to scale to that?

[2018-06-20 11:32] pgte commented on #178
@mkg20001 ping :)

[2018-06-20 11:39] mkg20001 commented on #178
@pgte If you're talking about transferring data then likely fast p2p-circuit relays and/or webrtc instead of p2p-circuit, otherwise I might not have gotten correctly what you were asking for.

[2018-06-20 13:49] pgte commented on #178
@mkg20001 Not sure. What I'm asking is: could you please create some load tests to make sure we can endure the load when the time comes?

[2018-06-21 09:40] pgte commented on #178
This would be a load test that connects many different peers to the same server, with them randomly connecting to each other (15 connections each), and sending messages to each other.
Then we would need to somehow, at each peer, measure message delivery and latency. At the end of the test, aggregate all the data and display it.
@mkg20001 do you think you could do something like this?

[2018-06-21 12:37] mkg20001 commented on #178
@pgte Yes. I will work on that this weekend or next week, depending on when I get the time to do it.

[2018-06-21 13:22] pgte commented on #178
Awesome, thank you! :)

[2018-06-25 20:44] one000mph commented on #177
@pgte @akrych could we get some feedback on these wireframes?

[2018-06-26 12:44] akrych commented on #177
@one000mph  Sure Heather :) I will take a look at this till Thursday 👍

[2018-06-27 11:18] pgte opened #184 "load tests"
As requested here: https://github.com/ipfs-shipyard/peer-pad/issues/178#issuecomment-398362375

[2018-06-27 11:18] pgte commented on #178
@mkg20001 moved load tests issue to #184 . Could you assign yourself and post updates there?

[2018-06-27 11:51] mkg20001 commented on #178
@pgte Yes

[2018-06-27 11:53] mkg20001 commented on #178
@pgte I can't assign myself as I don't have permission for the ipfs-shipyard organization...

[2018-06-27 14:21] pgte commented on #184
Adding @VictorBjelkholm to this. Can you collaborate with @mkg20001 and be of help when setting up this on CI and have ideas on how to orchestrate these load tests?

[2018-06-27 20:07] one000mph opened #185 "Users can download a pad as a .md doc"

[2018-06-27 20:08] one000mph opened #186 "Browser compatibility indication"
The app should indicate whether it is compatible with the current browser is not

[2018-06-27 20:15] one000mph commented on #8
@legastero has been working on this problem in a text-area binding for peer-crdt https://github.com/ipfs-shipyard/peer-crdt-textarea-binding

[2018-06-27 20:21] one000mph opened #187 "User joined indicator"
Indicator that a new user has joined since you last viewed. This data is not available in the current CRDT

[2018-06-27 20:23] one000mph opened #188 "Last Edited by indicator"
'Last changed' timestamp display (local only) & 'Last Edited By'

Once we have identity and avatars this should be easy

[2018-06-27 20:24] one000mph opened #189 "type-specific placeholder text"
Placeholder text should be different for each pad type

[2018-06-27 20:24] one000mph opened #190 "Markdown hints pane"

[2018-06-27 20:25] one000mph opened #191 "Rich text tooltips"
Formatting buttons appear in a tooltip when text is highlighted

[2018-06-27 20:43] one000mph opened #192 "Colored cursors for each active user"

[2018-06-27 20:45] one000mph opened #193 "User avatar & avatar dropdown"

[2018-06-27 20:47] one000mph commented on #185
dupe of #92

[2018-06-27 20:47] #185 closed

[2018-07-03 08:49] akrych commented on #177
Looks great to me! I don't have any comments :) 👍

[2018-07-12 05:42] miguelmota commented on #167
@jacobheun getting this same issue on circleci, did you find a resolution?

[2018-07-15 08:50] whyrusleeping opened #195 "List continuation on return"
If i'm writing items in a list, and i add a newline it would be nice if it could automatically add a bullet to keep me adding list items.

[2018-07-16 09:55] diasdavid opened #196 "peerpad is taking more than a minute to boot"

[2018-07-16 09:56] diasdavid opened #197 "Switching back and forth on panes breaks editing mode"
<img width="533" alt="image" src="https://user-images.githubusercontent.com/1211152/42752749-31df15f4-88ef-11e8-8c77-ce3ad9186f7f.png">

Switching back and forth here breaks editing mode

[2018-07-16 10:18] diasdavid commented on #134
Not the URL as emoji, but baseEmoji encode the URL and display it on screen.

[2018-07-16 10:36] diasdavid opened #198 "Afdter running for a while - Cannot read property 'length' of undefined"
<img width="943" alt="image" src="https://user-images.githubusercontent.com/1211152/42754455-d0052f66-88f4-11e8-817b-788278899d4c.png">

[2018-07-16 10:37] diasdavid commented on #198
<img width="947" alt="image" src="https://user-images.githubusercontent.com/1211152/42754485-f03c9bac-88f4-11e8-9a26-4894eecf37fd.png">

[2018-07-16 10:38] diasdavid opened #199 "t.content is undefined"
<img width="940" alt="image" src="https://user-images.githubusercontent.com/1211152/42754507-0613a786-88f5-11e8-9e29-d37fb9310007.png">

<img width="1092" alt="image" src="https://user-images.githubusercontent.com/1211152/42754537-26cbf35c-88f5-11e8-9381-5a16a125d3cd.png">

[2018-07-16 10:43] diasdavid opened #200 "Seeing already piped"
<img width="559" alt="image" src="https://user-images.githubusercontent.com/1211152/42754711-cfd14844-88f5-11e8-9b74-9dee543d1a99.png">

This was fixed in latest js-ipfs.

[2018-07-16 11:46] diasdavid opened #202 "This user already joined error"
<img width="817" alt="image" src="https://user-images.githubusercontent.com/1211152/42756992-aac69bfe-88fe-11e8-89a8-2c0f2ebab541.png">

[2018-07-16 12:29] jacobheun commented on #167
@miguelmota we haven't looked into this too much, but there is likely an order of operations issue going on here.

Are you running peer-pad in circleci or a different app that uses ipfs?

[2018-07-16 15:49] #197 closed

[2018-07-16 17:02] jacobheun opened #206 "Errors can cause peer-pad to silently stop working"
When using peer-pad I received an error in the console about a y.js action not being permitted. This caused peer-pad to stop updating, but I was able to continue making edits.

I refreshed my browser to see if I had lost data after the error and I did. We should do a better job of either recovering from the errors (the ideal) or letting the user know there was an issue and they should refresh (pre

[2018-07-16 18:05] miguelmota commented on #167
@jacobheun a different app that uses IPFS. It was fixed it though by not running IPFS as root

[2018-07-20 11:51] olizilla opened #207 "Run e2e tests on Jenkins"
Peer pads e2e tests were being run on travis. We need to figure out how to get puppeteer working on Jenkins, now that the other CI systems have been disabled. Think this is totally doable, we just have't done it yet.

Please note, the tests are not currently being run in CI, as the Makefile is configured to only build the thing

https://github.com/ipfs-shipyard/peer-pad/blob/b93f2b0c301c26d585346e

[2018-07-20 13:48] VictorBjelkholm commented on #207
Is something missing from my side? I think it should work without any further work except including the test run in the Makefile

[2018-07-20 15:35] olizilla commented on #207
the missing piece of the puzzle is an example of getting a test that uses puppeteer to run on Jenkins... We've got https://github.com/ipfs-shipyard/ipfs-webui/pull/728 which runs the webui puppeteer tests but they are currently timing out, and it's not clear why yet.

[2018-07-20 16:23] jacobheun commented on #207
It looks like we're missing some packages:

https://github.com/GoogleChrome/puppeteer/issues/1857
https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md

Here's the failing build I have going on jenkins:
https://ci.ipfs.team/blue/organizations/jenkins/IPFS%20Shipyard%2Fpeer-pad/detail/fix%2Fci/1/pipeline

[2018-07-23 09:32] pgte opened #208 "snapshot doesn't load from gateway"
When saving a snapshot locally and then trying to load it through a gateway, the gateway eventually times out and cannot resolve than CID.

[2018-07-23 16:35] daviddias opened #209 "When keys are borked, it just fails silently"
It should at least tell the user that something is wrong

[2018-07-24 17:22] pgte commented on #208
@diasdavid any quick fix you can think of here?

[2018-07-29 10:03] diasdavid opened #211 "Update to js-ipfs 0.31"
https://twitter.com/_alanshaw/status/1023505986747883521

[2018-07-29 10:03] diasdavid commented on #211
@jacobheun can you handle this one?

[2018-07-30 00:27] whyrusleeping opened #212 "pasting a hunk of text takes forever"
steps to reproduce:

copy the go-ipfs readme raw markdown.

paste into peerpad.

Its also really slow to delete a bunch of stuff too.

[2018-07-30 11:04] pgte commented on #211
I’m on it, since as of now we can’t use the vanilla js-ipfs
On 30 Jul 2018, 09:26 +0100, Jacob Heun <notifications@github.com>, wrote:

[2018-07-30 11:45] jacobheun commented on #212
I believe this was introduced with the move to peer-star-app. I noticed the difference attempting to paste in template data after the update.

[2018-07-30 21:10] pgte commented on #212
Working on this, close to deploying it.

[2018-07-30 21:45] pgte commented on #212
Was batching up deltas, but that wasn't enough. Optimized at the CRDT level for batch insertion.
Should be all good now, tested it.
Please reopen if you find it's not working for you.

[2018-07-30 21:45] #212 closed

[2018-09-15 05:40] KonoromiHimaries opened #213 "add own link for each of the switches"
example

![2018-09-15-peerpad](https://user-images.githubusercontent.com/5884000/45582953-82ef9500-b8b9-11e8-8016-c1c6e02422da.png)
<code>https://ipfs.io/ipns/peerpad.net/#/w/markdown/5RSZmhAW1sMzNnsswbRTcKtGnvr4gwC8SPSMRabqqWw8/4XTTM1iQrk4ojX1tJ16qMUpdy7BL3DhkKQ2Hj4P4Ug7Tqf7he-K3TgThrtAyuZKuHZfg95WsBZTM6XthDkmFuDFMAk5FUjF24qSVckwtEpbMqTzWsoypef6bB9ZGhybNeceVMRoZxLbNVxjnm2Sw3Sdx92dRyLQcqopC7F1tazd

[2018-09-18 20:56] pgte opened #214 "event loop lag"
Experience when we tried using PeerPad today for the working group session.
For some users, the browser event loop froze now and then, making the app irresponsive.

Hint 1: crypto was high on the profile graphs.
Hint 2: At one time in the past, I tried turning off DHT and it improved quite a bit.

Even if this is an IPFS problem, I feel that we need to get to the bottom of this.

[2018-09-18 20:56] pgte commented on #214
@jimpick given your past experience in performance troubleshooting, could you take some time on this?

[2018-09-19 16:48] pgte commented on #208
Fixed by 79668a3dce5b96320325123f96aff7ba7e5287d2

[2018-09-19 16:48] #208 closed

[2018-09-19 16:49] pgte commented on #200
I haven't seen these in a while. Now using latest js-ipfs. Please reopen if you find one, and I'll keep an eye out for these. Thank you for the report! :)

[2018-09-19 16:49] #200 closed

[2018-09-19 16:50] pgte commented on #213
That would be really useful. @KonoromiHimaries Care to give it a go? :)

[2018-09-19 16:51] pgte commented on #192
We have had this for a while. It's still buggy, (I think codemirror hates me), needs improvement, but overall it's there.

[2018-09-19 16:51] #192 closed

[2018-09-19 16:53] #180 closed

[2018-09-19 16:54] pgte commented on #155
I haven't seen these in a while since this got solved in libp2p, but I'll be keeping an eye out for these.

[2018-09-19 16:54] #155 closed

[2018-09-19 16:55] pgte commented on #146
Not only considering it, we're using it through [peer-star-app](https://github.com/ipfs-shipyard/peer-star-app) => [js-delta-crdts](https://github.com/ipfs-shipyard/js-delta-crdts).

[2018-09-19 16:55] #146 closed

[2018-09-19 16:56] pgte commented on #142
peer-star-app has [a pinner service](https://github.com/ipfs-shipyard/peer-star-app#pinner) now, it's just a matter of deploying it somewhere.

[2018-09-19 16:57] pgte opened #215 "deploy pinner"
Peer-star-app now has [a Pinner service](https://github.com/ipfs-shipyard/peer-star-app#pinner).
We need to deploy this to start testing it.

[2018-09-19 16:58] pgte commented on #215
@VictorBjelkholm I think we need some of your devops magic :)

[2018-09-19 16:58] #142 closed

[2018-09-19 16:59] pgte commented on #144
Depends on https://github.com/ipfs-shipyard/peer-star-app/issues/4

[2018-09-19 17:00] pgte commented on #141
Following up on #215

[2018-09-19 17:00] #141 closed

[2018-09-27 11:30] pgte opened #217 "RFC: an architecture towards peer-pad v1.0"
# Current problems

## Use of websocket-star

Currently, we use a websocket-based protocol to render 2 things:
* Discovery: to find new peers interested in the app
* Relay: to be able to send messages to these peers, we relay them via this websocket-star server.

The problems are: One server is required for peers to find each other. One server is a single point of failure. One server has to handle

[2018-09-27 11:31] pgte commented on #217
@diasdavid could you please review this, aligned with [Q4 OKRs](https://docs.google.com/spreadsheets/d/139lROP7-Ee4M4S7A_IO4iIgSgugYm7dct620LYnalII/edit?ts=5b9fcc7c#gid=412099511)?

[2018-10-03 10:35] pedro-nonfree commented on #36
Firefox seems relatively interested on solving this issue: https://bugzilla.mozilla.org/show_bug.cgi?id=781982

[2018-10-19 08:19] pgte opened #218 "Run e2e load tests"
Be able to boot a swarm of N browsers, launch peer-pad on each one of them, simulate users typing, test convergence, measure convergence time (min, max, average, stddev) and report.

What tools can be used for achieving this?

[2018-10-19 09:54] pgte commented on #218
@hugomrdias told me about [Cypress](https://www.cypress.io)

[2018-10-19 09:56] pgte commented on #218
@hugomrdias told me about [Testcafe](http://devexpress.github.io/testcafe/)

[2018-10-27 09:04] pgte commented on #218
Decided on using puppeteer-cluster, so far so good!

[2018-10-27 09:04] #218 closed

[2018-10-27 09:07] pgte opened #220 "improve e2e load tests (continued)"
Load tests need to be improved:

- [ ] make configuration accessible and documented
- [ ] run this on CI
- [ ] minimize test run time (resort to polling instead of waiting X time)
- [ ] test for data loss more thoroughly
- [ ] extract performance metrics
- [ ] impose thresholds on performance metrics

[2018-10-27 10:39] pgte opened #221 "e2e load tests: add Pinner"
The load and correction tests (`npm run test:e2e:load`) should also test running with a Pinner, to make sure it does not introduce any faults in the collaboration.

[2018-10-27 10:39] pgte commented on #221
@jimpick could you take this one?

[2018-10-27 11:08] pgte opened #222 "e2e load tests: extract performance metrics"
Enhance existing e2e load and correctness tests (`npm run test:e2e:load`) with the following:

- [ ] Extract UI usability metrics:
  - [ ] UI event responsiveness (is event loop lag a good proxy for this?)
  - [ ] time to sync (the time it takes for all peers to be isync with each other after edits have stopped)
- [ ] Define maximum thresholds above which the performance tests will fail

[2018-10-27 11:08] pgte commented on #222
@jimpick could you take this one?

[2018-10-27 11:09] pgte commented on #220
@jimpick could you take this one?

[2018-10-27 11:09] pgte commented on #214
@jimpick ping :)

[2018-10-27 11:09] pgte commented on #207
@jimpick would you take this one?

[2018-10-27 11:11] pgte commented on #196
Discovery time has been highly improved. Please reopen this one if you experience this again.

[2018-10-27 11:11] #196 closed

[2018-10-27 11:15] pgte commented on #206
We're now using peer-star-app for this, so this may have changed considerably (hopefully for the better). Please reopen this if you run into this again. Thanks!

[2018-10-27 11:15] #206 closed

[2018-10-27 11:33] pgte commented on #202
Using different membership approach, which hopefully avoids this problem. Please reopen this one if you find it again.

[2018-10-27 11:33] #202 closed

[2018-10-27 11:34] pgte commented on #198
No longer using the dependency that was emitting these errors.

[2018-10-27 11:34] #198 closed

[2018-10-27 11:34] pgte commented on #199
No longer using the dependency that was emitting these errors.

[2018-10-27 11:34] #199 closed

[2018-10-27 11:35] pgte commented on #184
Closing this one in favor of #220

[2018-10-27 11:35] #184 closed

[2018-10-27 11:37] pgte commented on #152
@jimpick It looks like we should start doing this without using your own PC :)
Would you take this one on?

[2018-10-27 11:38] #115 closed

[2018-10-27 11:38] #117 closed

[2018-10-27 11:38] #28 closed

[2018-10-27 11:39] #114 closed

[2018-10-27 11:39] pgte commented on #85
Should be working now

[2018-10-27 11:39] #85 closed

[2018-10-27 11:40] #36 closed

[2018-10-27 11:41] pgte commented on #11
Using the debug icon that sheds some insight into the dev console.

[2018-10-27 11:41] #11 closed

[2018-10-27 11:41] pgte commented on #9
Done

[2018-10-27 11:41] #9 closed

[2018-10-27 11:42] #46 closed

[2018-10-29 14:22] olizilla commented on #207
I got similar puppeteet tests running on circle-ci which uses docker, and needed a bunch of deps installed for them to work. You can grab the list from there https://github.com/ipfs-shipyard/ipfs-webui/blob/e4ba1d8d8f67f52444a1c806b5a043aae6b1ed7a/.circleci/config.yml

Of note, we're keeping things simple on the webui project and just using travis for the CI tests including e2e as we're also using

[2018-11-04 13:48] vasa-develop opened #225 "Error AbortController is not defined"
Just checked out peerpad website. But after sharing the link and opening the link in a new window, the windows don't seem to sync?  Also, my status is always offline...what is the status here(tried it with the local ipfs daemon, but it still shows offline)?

Can someone tell me what am I missing here?

[2018-11-04 15:42] pgte commented on #225
I could not reproduce this: I'm able to get online and sync between two browsers.
Is there any error in the console?

[2018-11-04 15:59] pgte commented on #221
Gonna give this one a go.

[2018-11-05 13:00] pgte commented on #221
Fixed in #226

[2018-11-05 13:00] #221 closed

[2018-11-05 17:08] vasa-develop commented on #225
Here are the console logs(using the local ipfs daemon):
https://gateway.ipfs.io/ipfs/QmexQFGzCQVAF7mmLBsTHnq6rK6SBAhAfNEY6TjftDFhTz

If you don't mind, can you make a small screen video to show simple steps on how to use it via the website(using it by sharing the link) ...I know it sounds dumb, but I can't figure out what am I missing here.

[2018-11-11 09:55] akhil0101 commented on #225
Just checked out peerpad website. But after sharing the link and opening the link in a new window, the windows don't seem to sync? Also, my status is always offline...what is the status here(tried it with the local ipfs daemon, but it still shows offline)?

i am also facing the same problem can u rectify the problem

[2018-11-11 13:11] jacobheun commented on #152
This should be done (aside from updating docs), the caveat is that dev.peerpad.net uses the ipfs.io certificate. So to avoid ssl it needs to be loaded over ipfs.io: https://ipfs.io/ipns/dev.peerpad.net.  I verified this has the most recent change from master.

[2018-11-13 18:48] vasa-develop commented on #225
Still facing the same problem.

[2018-11-18 16:19] victorb commented on #225
Thanks @vasa-develop for sharing the console.log output, very helpful! @akhil0101 could you do the same so we can see if it's the same issue for you?

Regarding @vasa-develop's issue, seems you're using a browser where `AbortController` is not defined. According to https://caniuse.com/#search=AbortController, it should be supported in the latest browsers (minus any version of IE). Which browser ar

[2018-11-19 05:58] vasa-develop commented on #225
@victorb  Thanks for replying. My browser specifications are as follows:

**Chrome: Version 64.0.3282.140 (Official Build) (64-bit)**
(This shows the error that I linked above. Seems like it AbortController is not defined in this version)

But it shows **no error logs on Mozilla 63.0 (64-bit)**. The window shows that I am online. But when I tried sharing the document(tried both, read and write), t

[2018-11-19 09:01] alanshaw commented on #225
@vasa-develop are you able to upgrade your chrome browser to version 66 or higher and test?

[2018-11-19 13:37] vasa-develop commented on #225
@alanshaw  I will upgrade it and get back to you.

[2018-11-19 20:20] victorb commented on #225
This might be a issue where the same Peer ID is being used, because it's essentially the same browser session but another tab, and I think PeerPad is reusing the same Peer ID, leading to pubsub not working correctly. @pgte correct me if I'm wrong about this.

@vasa-develop could you try to open the same pad but in two different browsers where PeerPad shows the status as online? For example, try op

[2018-11-20 18:37] vasa-develop commented on #225
@victorb Just checked it out. It works when I use 2 different browsers.

[2018-11-21 00:21] victorb commented on #225
@vasa-develop great! Renamed the title so it'll be easier to find in the future, and let's close this one.

 @akhil0101 if it turns out you have a different issue than "AbortController is not defined", please open a new issue with more details of the problem, including javascript console logs if possible.

[2018-11-21 00:21] #225 closed

[2018-11-28 14:25] pgte opened #236 "use peer-pad on the next DDC WG meeting"
I'd like very much that we try to use peer-pad at [the next Dynamic Data and Capabilities Working group meeting](https://github.com/ipfs/dynamic-data-and-capabilities/issues/52).

For that, I believe that we need to

- [x] peer-pad should use the latest version of peer-star-app: https://github.com/ipfs-shipyard/peer-pad/pull/235
- [x] a pinner should be deployed: https://github.com/ipfs-shipyard/p

[2018-11-28 15:21] jimpick commented on #236
Yes! Let's do it.

[2018-11-28 22:18] victorb commented on #215
Latest status is over at: https://github.com/protocol/infra/issues/398

Current status: discussing with infra team about best way to deploy and move forward

[2018-11-29 01:15] victorb commented on #236
I have a feeling that unless we have some UI status of "pinning" > "pinned" in the context of the pinner, we're gonna have a lot of notes that people feel gets lost because they closed the tab before we showed that it was fully pinned.

Issue was filed earlier about being able to show "pinning" to users here: https://github.com/ipfs-shipyard/peer-star-app/issues/141

[2018-11-29 01:16] victorb commented on #236
Ah, my mind was in the "internal testing" mindset, not "next DDC WG meeting". Think we don't have to have ^ for that specific meeting.

[2018-11-29 12:11] pgte opened #240 "CI is failing"
CI is failing on the tests for [this PR](https://github.com/ipfs-shipyard/peer-pad/pull/235): https://ci.ipfs.team/blue/organizations/jenkins/IPFS%20Shipyard%2Fpeer-pad/detail/PR-223/9/pipeline

![jenkins___ipfs_shipyard_peer-pad___pr-223____9](https://user-images.githubusercontent.com/47910/49221026-cdb87d80-f3cf-11e8-80e0-654b233dffbe.png)

[2018-11-29 15:57] victorb commented on #240
Hm, I saw different failures on https://github.com/ipfs-shipyard/peer-pad/pull/238 which was related to not being able to find a package...

I'll look into this.

[2018-11-29 16:17] victorb commented on #240
Yeah, rerunning on master, I still see

[code]

Not the out-of-space error...

[2018-11-29 16:18] victorb commented on #240
Jobs for https://github.com/ipfs-shipyard/peer-pad/pull/223 are currently failing because of merge conflicts with master

[2018-11-30 10:33] jimpick opened #242 "Add greenkeeper?"
Should we add greenkeeper to this project?

[2018-11-30 10:36] pgte commented on #242
I think we should, after #223 is merged.

[2018-11-30 17:21] parkan opened #244 "add me as maintainer"
@jimpick I don't need to be _lead_ but I should probably have write access (and possibly admin) 😜

[2018-11-30 17:57] mikeal commented on #242
I'm a big greenkeeper fan, but I will warn that it can be quiet noisy. I'm used to dealing with a lot of email but if ya'll are used to a fairly clean inbox you might be in for a surprise :)

[2018-12-01 04:16] jimpick commented on #244
Sure thing! I'll see if I can add you.

[2018-12-01 04:17] jimpick commented on #244
I don't seem to have admin rights myself. /ping @pgte

[2018-12-01 11:36] pgte commented on #244
@jimpick done

[2018-12-01 12:07] jimpick commented on #244
Thanks @pgte! I sent an invite to @parkan as a collaborator on peer-pad with admin rights. (re-open if it should be more restrictive)

[2018-12-01 12:07] #244 closed

[2018-12-01 16:33] victorb commented on #152
This is working [since wildcard certs](https://github.com/protocol/infra/commit/a63943231de417a05db3baa0254479663aff123f) were added to *.peerpad.net. So https://dev.peerpad.net will now show the latest commit from master

[2018-12-01 16:33] #152 closed

[2018-12-03 11:45] jimpick opened #249 "Break out react bindings for codemirror <-> peer-star-app into a separate npm module"
It would be nice to figure out how to build re-usable UI components that include the code needed to bind to peer-star-app collaborations.

The codemirror editor used in peer-pad is fairly self-contained, and has working bindings. I think it's a good candidate to break out into a re-usable component.

[2018-12-03 12:02] daviddias commented on #215
With this Pinner, it means that when PeerPad moves to IPLD, there has to be a migration strategy.

[2018-12-03 12:04] daviddias opened #250 "Does PeerPad break urls?"
There needs to be a strategy around long-term persistence support. If I bookmark a pad today, will I be able to see it in a year? The answer should be always yes.

This leads to start thinking on how to upgrade the data model of PeerPad without breaking retro-compatibility. It also highlights how the [current Pinner](https://github.com/ipfs-shipyard/peer-star-app#testing-a-deployed-pinner) is a sh

[2018-12-03 12:06] daviddias commented on #242
Good reads on how the IPFS Community thinks about Greenkeeper:

- https://github.com/ipfs/community/issues/197
- https://github.com/ipfs/community/issues/205

(Not blocking, just for context, also today we have a different CI)

[2018-12-03 12:08] daviddias opened #251 "How can I tell if my Pad has been pinned?"
<img width="1115" alt="image" src="https://user-images.githubusercontent.com/1211152/49372870-00c28000-f6f4-11e8-93c7-953d3530527f.png">

As far as I can see, the UI doesn't tell me the state of persistence yet.

[2018-12-03 12:08] daviddias commented on #134
This is what I want https://gadgetstouse.com/news/telegram-voice-calls-introduced/56195

<img width="737" alt="image" src="https://user-images.githubusercontent.com/1211152/49372928-310a1e80-f6f4-11e8-915d-74e2e14a2e1e.png">

[2018-12-03 12:11] pgte commented on #251
See dev.peerpad.net

[2018-12-03 12:15] daviddias commented on #251
Niiiiiiceeeeeee!! <3

<img width="169" alt="image" src="https://user-images.githubusercontent.com/1211152/49373232-28feae80-f6f5-11e8-971c-c7d4c5505577.png">

[2018-12-03 12:16] daviddias commented on #251
<img width="258" alt="image" src="https://user-images.githubusercontent.com/1211152/49373239-2f8d2600-f6f5-11e8-8a61-260885c23112.png">

oh :(

[2018-12-03 12:21] pgte commented on #251
It's the peer discovery time that is large (which is [being worked on here](https://github.com/ipfs-shipyard/peer-star-app/pull/176)).

But once the pinner peer is discovered, it should get saved.

It happened ok for me:

![peerpad](https://user-images.githubusercontent.com/47910/49373401-edb0af80-f6f5-11e8-8588-932701724082.png)

@daviddias has it worked out for you?

[2018-12-03 12:33] jimpick opened #252 "Problems syncing document title"
Sometimes, the full state of the document title sub-collaboration doesn't seem to get synced to new browsers.

Here's a video showing the issue:

https://gateway.ipfs.io/ipfs/QmbP8PtXAstgXoyHwfdoBM4umYARdycyM8HdVCNZ2EodZk/document-title-sync.mp4

This is with master at commit 0e71b5b747358890a1c50719d0f20e90536b06a2

[2018-12-03 12:37] pgte commented on #250
Currently, a pinner is simply another node that tries to participate in all collaborations is sees and blindly tries to replicate the state.

We [plan to have the pinner save state to IPLD](https://github.com/ipfs-shipyard/peer-star-app/issues/122) and then pin it.

This will allow to easily migrate every collaboration to IPLD by just revisiting all past collaborations.

Having said that, I don't

[2018-12-03 12:40] pgte commented on #252
Weird, will reopen this one again: https://github.com/ipfs-shipyard/peer-star-app/issues/166

[2018-12-03 12:41] jimpick commented on #250
Our super short term goal is to use it for our working group meeting next week. We could probably manually copy the data to a github gist for long-term persistence for that particular meeting. As @pgte says, the IPLD solution is where we want to be.

[2018-12-03 12:49] jimpick commented on #242
It looks like it might be useful if the project has a simple set of dependencies, but is a hindrance if a project is quite complicated...

Right now, I think peer-pad has a complicated dependency set (create-react-app was ejected?) ... it would be nice to move it to something simpler over time.

Looking at the number of dependencies, it's probably best if we don't use greenkeeper for the time bein

[2018-12-03 13:00] jimpick commented on #134
It would be easy to add this as a quick checksum on the URL. I think there only needs to be one emoji.

Long term, I'm in favour of providing namespaces and short urls to people. Plus identity. And tools to automatically bookmark / organize your documents (peerpads) in a way that makes sense to you.

Hitting people in the face with long crypto strings is hostile UX. It makes sense to us programmer

[2018-12-03 13:02] jimpick commented on #249
I need to review the current best practices for distributing react components. Can anybody think of a good modern example to pattern off of?

[2018-12-03 14:42] daviddias commented on #134
@jimpick this issue was created because people were sharing peerpad urls through other services that altered the path underneath (i.e. bit.ly) and so they were convinced that PeerPad was broken when in fact it was just the keys that were different and therefore PeerPad was rejecting (correctly) all the broadcasted updates.

[2018-12-03 15:11] victorb commented on #215
Update: The pinner has been deployed!

Glad you asked! If you visit https://dev.peerpad.net and start typing, you'll see a "Saving..." message popping up on the right. After a while (seconds), it'll change to "Saved!" and that's when you know that the pinner has pinned the latest state in your document.

[2018-12-03 15:11] #215 closed

[2018-12-03 15:36] pgte commented on #249
/cc @satazor

[2018-12-03 15:40] satazor commented on #249
- Write your code using import & export (ES modules)
- Use babel to compile the src code  so that JSX is transformed to JavaScript
  - Other transformations are up to the app to do; CRA v2 already compiles all your node modules

Will you ship styles (CSS)?

[2018-12-03 17:48] victorb opened #254 "Hiding and showing editor breaks ability to edit"
If you use the switches next to the peerpad editor to turn off the editor then turn it on again, it doesn't allow any more edits, seems the editor is disabled.

My hunch is that it's related to https://github.com/ipfs-shipyard/peer-pad/commit/805c30e22d8408b47dd8e8d9dd85dbfde148ba78

[2018-12-03 20:42] parkan commented on #254
yep, confirm that hiding the editor view (`</>` button) and showing it again disables editing

[2018-12-03 21:12] jimpick commented on #249
I believe codemirror has a CSS file that comes along with it, so we'd have to figure out how to ship that along with it ... because it's wrapping a third-party component that isn't react based, it's a perhaps a more challenging starting problem than if we just had a pure react component.

[2018-12-03 21:16] jimpick commented on #254
Oops. I'll fix that.

[2018-12-03 21:19] #242 closed

[2018-12-03 21:32] jimpick opened #256 "Support optional .env file for development / production config"
I'd like to be able to tweak the app name and the rendezvous server multiaddr in development.

Those are also settings we'd probably want to change in various test / staging situations.

What do people think about using a .env file? I've used it in many projects.

https://github.com/motdotla/dotenv

[2018-12-03 21:44] victorb commented on #256
Yes! `.env` are very pleasant and would be great to support. Same for peer-star-app itself.

[2018-12-04 01:11] parkan commented on #249
@satazor would a CSS module make sense here? it's a bit of a weird case where it sort of should be separate from the parent styling conceptually, but not to the extent of using inline CSS

[2018-12-04 01:17] satazor commented on #249
Yes we can indeed generate a CSS module, that is, a CSS file where selectors are hashed based on its contents. The question is how to compile the JS file in such a way that the selectors mappings are correctly included in the build. I haven’t done this yet but should be fairly easy with webpack’s cás-loader.

[2018-12-04 01:17] parkan commented on #256
+1 for dotenv, it's one standard most people can agree on :)

[2018-12-04 01:21] parkan commented on #242
the eject happened here: https://github.com/ipfs-shipyard/peer-pad/commit/829aa7163bab5a286fe05e44db796ae26888ba66#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

agreed on keeping greenkeeper quiet for now, especially with github's new vulnerability warnings

[2018-12-04 08:37] jimpick opened #258 "When using 'npm start' for dev, indicate to developer that they also need to run rendezvous server"
With PR #253, we now configure peer-pad to use a rendezvous server running on localhost when the developer runs `npm start`. If the developer doesn't read the documentation, they might not know that they need to also run `npm run start:rendezvous` ... if they don't the application prevents editing, and it's not really obvious what is happening.

In #253, we discussed either running the rendezvous

[2018-12-04 14:10] pgte commented on #251
Related: https://github.com/ipfs-shipyard/peer-star-app/issues/189

[2018-12-04 18:47] parkan commented on #258
what happens is that the binding fails and the node silently fails to start, right?

this in itself is kind of broken (https://github.com/libp2p/js-libp2p-websocket-star/issues/61), you should generally be able to use the app in single-player mode, especially for development, though right now making that happen unfortunately requires fixing js-libp2p

[2018-12-05 19:37] parkan commented on #258
@pgte does this not accomplish that? https://github.com/ipfs-shipyard/peer-pad/pull/253

[2018-12-05 21:39] pgte commented on #258
@parkan it does, nice!

[2018-12-06 23:35] jimpick opened #260 "Change delimiter in links so Zoom displays clickable URLs correctly"
Zoom chat really doesn't like the '-' character in PeerPad URLs... when they are posted to Zoom chat, it doesn't highlight the last part of the URL, which has the write key, which results in a read-only link, which is super confusing.

It's really a bug in Zoom, but I think maybe if we switch the delimiter to an underscore or similar, we can avoid that bug.

[2018-12-07 09:12] pgte commented on #252
Should be fixed now.

[2018-12-07 09:12] #252 closed

[2018-12-07 09:13] pgte commented on #240
Looks like CI is failing now on the "pin + publish" stage:

[code]

See here: https://ci.ipfs.team/blue/organizations/jenkins/IPFS%20Shipyard%2Fpeer-pad/detail/PR-255/9/pipeline/

[2018-12-07 11:45] jimpick commented on #260
It should be easy to do with a regex... I'll try to do it now.

[2018-12-07 13:51] jimpick commented on #260
I coded up a complete fix... but then I discovered Zoom doesn't like the underscore either.

I experimented with the URLs a bit in a Zoom chat session, and it's actually breaking because the URLs are too long. Any portion of a URL past a certain length limit ... Zoom will chop the clickable part of the URL. :-(

I can't think of a good simple fix that doesn't involve using a URL shortener.

For no

[2018-12-07 13:56] jimpick commented on #260
With '_' delimiter:

<img width="296" alt="screenshot 2018-12-07 22 54 53" src="https://user-images.githubusercontent.com/20886/49651662-2b556580-fa73-11e8-956b-e2b1b67e02a9.png">

No delimiters at all, remove slash:

<img width="296" alt="screenshot 2018-12-07 22 54 27" src="https://user-images.githubusercontent.com/20886/49651660-2b556580-fa73-11e8-868a-6a08dab95072.png">

[2018-12-07 16:08] victorb commented on #260
@jimpick are you using the macOS client of Zoom? Seems to be a platform dependent bug in Zooms client, as the links work properly for me on Ubuntu 18.04.

![image](https://user-images.githubusercontent.com/459764/49658526-4ba00880-fa10-11e8-87ac-27f4621c234b.png)

Have we reported this to Zoom? It's clearly not a good behaviour in the client, maybe they'll be able to solve it quickly.

[2018-12-08 12:49] mkg20001 opened #261 "Consider using jest-puppeteer for tests?"
I just found this awesome module https://github.com/smooth-code/jest-puppeteer
Maybe it could be used to simplify the tests?

[2018-12-10 02:23] whyrusleeping opened #262 "peer-pad via go-ipfs api?"
Is it possible to use peer pad backed by a go-ipfs node? If so how do I do it? If not, how can we make that happen?

[2018-12-10 07:17] jimpick commented on #262
I think there is some related discussion in this issue: https://github.com/ipfs-shipyard/peer-star-app/issues/197

[2018-12-10 07:51] jimpick commented on #261
I'll take a look at it. The tests in test:e2e:load are working with puppeteer-cluster ... but i think the test:e2e tests might be out-of-date, so I need to look at that stuff anyways.

[2018-12-10 07:59] jimpick commented on #260
I couldn't find a good bug reporting form, so I sent an email to info@zoom.us.

[2018-12-11 00:28] parkan opened #264 "Make it clear that shared pad is synchronizing something"
One remaining UX wart with the slimmed-down peerpad is that an unsynced pad looks the same as a blank one. The UI also isn't locked if you're online but not fully synced, so you can potentially start performing inputs leading to undefined behavior (sometimes it seems to override the entire state, sometimes it gets incorporated into history)

I am wary of locking the UI entirely, but a prominent in

[2018-12-11 03:12] jimpick commented on #264
It really shouldn't ever override the entire state ... what I saw today was that you edited a document that Dirk and I had collaborated on, but I think the pinner had somehow lost the data from the original editing session (rebooted maybe?), so only had your edits when I rejoined.

When I re-connected the browser that was in the original editing session, the data from both sessions were merged.

[2018-12-11 03:24] jimpick opened #265 "CSS overflow issue with long URLs in markdown"
Here's a screenshot showing the overflow issue:

<img width="1198" alt="screenshot 2018-12-10 19 23 34" src="https://user-images.githubusercontent.com/20886/49776532-3695d480-fcb1-11e8-9c41-32a3ade68b9d.png">

[2018-12-11 10:40] pgte commented on #264
@jimpick about this last problem you described:
Currently the pinner doesn't keep multiple heads, it simply resorts to storing one. One thing it does is it never "goes back" in time, but if two distinct replicas diverge and they're not connecting to each other, the pinner is not able to merge these changes (because the pinner doesn't know the content of the state).

Here is an issue to track this

[2018-12-11 10:43] pgte commented on #264
@parkan I believe that a bootstrap process state machine was being discovered by @marcooliveira and @andreforsousa (in the context of Discussify, but I believe it can be applied). Perhaps we could reuse that?

[2018-12-11 17:08] marcooliveira commented on #264
Yes, this is something we're currently working on. Will come back once we have an update, we should have a draft this week.

[2018-12-11 17:47] parkan commented on #264
a state machine similar to the new go-ipfs connection manager FSM is likely the real fix (I'll make a new issue), but maybe a simpler hack can address this particular issue

for example, we can set a url fragment (`...#edited`) and when pasting the URL into a new window we can know that this isn't a fully blank pad and show a general synchronizing state, instead of the new pad

even more simply, w

[2018-12-11 17:48] parkan commented on #265
came here to report this too 😄

[2018-12-11 17:48] parkan commented on #262
@daviddias also brought up the idea of being able to explicitly dial/relay through a local go-ipfs node in bad network conditions, as well

[2018-12-11 18:03] parkan opened #266 "connection/synchronization/pinning state machine"
aggregating concerns from:
* https://github.com/ipfs-shipyard/peer-pad/issues/251
* https://github.com/ipfs-shipyard/peer-pad/issues/264

### The Problem
peer-pad can be in a variety of states, depending on interactions between your peer, other peers in the collaboration, other peers in the app (but not in your collaboration), and pinners:

- offline (no IPFS peers)
- online, no app peers
- online

[2018-12-11 18:49] parkan commented on #254
closed in https://github.com/ipfs-shipyard/peer-pad/pull/259#event-2009076740

[2018-12-11 18:49] #254 closed

[2018-12-12 03:29] jimpick opened #267 "Capture state from group test"
During this morning's DDC WG update, we tried to use peer-pad to take the team notes.

Some browser sessions had the correct document, and worked as expected.

Some browser sessions didn't have the entire document, or may have been corrupted.

Jim has an example of both types of browser sessions.

Figure out a way to capture the state from both browser sessions so we can do some forensic analysis.

[2018-12-12 05:40] jimpick commented on #266
This would be very useful for tests as well.

[2018-12-12 10:00] pgte commented on #262
There is some support for relay for LAN discovery and participation in peer-base: https://github.com/peer-base/peer-base/blob/master/src/transport/ipfs-relay.js

It's a bit clunky, as we need to also [use the IPFS API to poll swarm addresses](https://github.com/peer-base/peer-base/blob/master/src/transport/ipfs-relay.js#L43), as there's no other source of discovery in that environment. Any suggest

[2018-12-12 10:18] jimpick commented on #266
Here are some fun FSM links:

This looks like a nifty library I haven’t tried yet:

https://github.com/davidkpiano/xstate

Here’s a simple lib for UIs from the Choo project:

https://github.com/choojs/nanostate/

The really interesting stuff is “Finite State Transducers”, which are used for things like speech recognition... the Kaldi project uses OpenFST (C++):

http://www.openfst.org/

[2018-12-12 14:56] parkan commented on #262
ah yes I remember you setting this up at DWeb summit 😄

[2018-12-12 15:01] parkan commented on #266
FSTs look like a cool extension of FSMs but I really hope we don't have to use probabilistic state transitions anytime soon 😅

nanostate reminds me of the first real website I worked on, which badly needed a state machine because it played music (hypem.com)

[2018-12-12 18:20] jimpick commented on #267
I used the new peerPadDevTools.dumpState() facility from the browser devtools console to capture the state in base64 format from Chrome, where I had a good editing session, and Firefox, where I had a corrupt editing session:

* https://gateway.ipfs.io/ipfs/QmVYTMprLbqguU1M9L28AUX4AGqSnt37h17yopWLfA8nmo/state-chrome-good.txt
* https://gateway.ipfs.io/ipfs/Qmd74pUr8JWVeFFkypDHp7dFLKMWcuPSW4Q87B7J1HD

[2018-12-12 18:44] jimpick commented on #266
Some of the heavier-duty computer science-y stuff is probably going to be necessary if we go in the direction of trying to model the state of peer-to-peer swarms ... there's a lot of state in something like that!

[2018-12-13 15:39] jimpick commented on #260
I received a response from Zoom: "Our engineers have told me that this is a known issue and that it will be fixed in an update before too long."

[2018-12-13 16:03] jimpick commented on #267
Here is the diff:

https://ipfs.io/ipfs/QmUDcL9me5g1jUtRV3XBRKAYcSykqV8SVkRQzLAPFjG98t/chrome-firefox.diff

If I take the state captured from Chrome, and then apply the state from Firefox to it, using the 'rga' CRDT, I get a different result than if I do it in the opposite order. That tells me that the CRDT state is corrupt / inconsistent.

To get to the bottom of this, I'm going to dig into the d

[2018-12-13 16:43] jimpick commented on #267
I made a temporary repo so I can try to create a reduction of the problem down to a manageable size...

https://github.com/jimpick/investigate-rga

[2018-12-13 19:40] jimpick opened #270 "Move ipfs-shipyard/peer-pad -> peer-base/peer-pad ?"
Should we relocate to the peer-base org?

[2018-12-13 19:57] jimpick opened #271 "Change colour scheme in codemirror editor for markdown content"
Some of the colours are hard to see when editing markdown.

[2018-12-13 22:16] pgte commented on #270
I'm not sure, but I tend to think not. Eventually we'll start out extracting pieces from peer-base, not sure if apps should live alongside libraries.. Not 100% sure of this..

[2018-12-14 07:40] jimpick commented on #267
Searching for clues ... the rga array appears to be broken into 21 separate chunks that are almost randomly 'shuffled' between the state captured from chrome vs. the state captured from firefox

https://github.com/jimpick/investigate-rga/blob/master/ranges.txt

I was hoping it might be a little more simpler, thus easier to replicate possible failure modes. Without the history, it's hard to guess t

[2018-12-14 08:34] jimpick commented on #267
It looks like if I apply the delta from the insertAt() 'too early', the resulting string is wrong in 50% of the test runs.

[2018-12-14 09:09] pgte commented on #267
@jimpick This is great!

The result of my local test run agains the latest delta-crdts v0.8.0 is the following:

[code]

[code]

This contrasts with v0.7.1, which is clearly wrong:

[code]

[code]

@jimpick could you check this against v0.8 on your end?

[2018-12-18 02:47] jimpick opened #272 "Multi-user undo"
Right now, if the user hits their "Undo" key sequence eg. Command-Z or Ctrl-Z, they might (surprisingly) undo the edits of another user that is concurrently editing the same doc.

There are other multi-user editors that use Codemirror. It might be good to investigate what they are doing for this.

[2018-12-18 06:25] jimpick opened #273 "Refresh page and then editing messes up editor state"
There's a small bug related to incremental value updates in peer-base.

I have a fix incoming shortly.

[2018-12-18 22:07] parkan commented on #272
![here-be-dragons](https://user-images.githubusercontent.com/204986/50184402-ffdc4180-02e2-11e9-846d-90e59a17832c.png)

I actually got frustrated with how this worked in another collaborative editor a little while ago and went around looking for better solutions. Sadly, I didn't find anyone who had a sane undo behavior, and sort of lost my faith in the undo-redo mechanic overall. Some editors I lo

[2018-12-18 22:13] jimpick commented on #272
I see that automerge tackled that issue on the CRDT level recently:

https://github.com/automerge/automerge#undo-and-redo

[2018-12-18 22:51] parkan commented on #272
@jimpick their approach (generate "negated" versions of history events) is similar to my intuition, but their system is OP-based (I think, based on https://github.com/automerge/automerge/blob/master/backend/op_set.js), which makes that easier

[2018-12-19 00:46] jimpick commented on #272
ProseMirror (a relative of CodeMirror, by the same author) also has collaborative editing support. I believe that what they do is keep track of a stack of changes, and then they can rewind back to a checkpoint, and replay the changes (minus what was undid by a particular writer).

Of course, it's not very well defined what users should expect when they hit undo on some text they added, but some ot

[2018-12-19 22:33] jimpick commented on #273
This is fixed with https://github.com/peer-base/peer-base/pull/209

[2018-12-19 22:33] #273 closed

[2018-12-19 22:44] jimpick opened #275 "Manual load test report"
I did a manual load test using https://peer-pad-staging.jimpick.com/ ... which should match what is on master right now, I launched the same PeerPad doc in four browsers on my iMac (Chrome, Canary, Firefox Nightly, Safari) and the same four browsers on my MacBook Pro + my iPhone and an Android phone -- 10 peers total.

All browsers were able to connect and share/edit the document. Things got very

[2018-12-19 22:54] jimpick opened #276 "Paste is broken ... only last character gets committed to document"
If I paste in some text on master, only the last character shows up in the document.

I suspect it's related to my CRDT "fix" https://github.com/ipfs-shipyard/js-delta-crdts/pull/34

[2018-12-20 01:54] jimpick commented on #276
Fixed with this PR: https://github.com/ipfs-shipyard/js-delta-crdts/pull/35

[2018-12-20 05:09] jimpick opened #277 "Multiple swarm addresses for offline support"
https://www.youtube.com/watch?v=XTgE2tA6Zhg

Copied from discussion here: https://github.com/ipfs/dynamic-data-and-capabilities/issues/59

[2018-12-20 07:15] jimpick commented on #275
I made a little 'inbound message speedometer' so I could easily see how many messages are inbound:

https://usercontent.irccloud-cdn.com/file/dxCndqeZ/message-speedometer.mp4

Code: https://github.com/jimpick/peer-pad/commit/a14e4fec581e3739b4ffacc96db451cd531f2f79

It is deployed live on https://peer-pad-staging.jimpick.com/ ... if I open multiple browsers and start typing, there does appear to b

[2018-12-20 11:04] pgte commented on #275
@jimpick 2 suggestions:

1. Try peer-base master, as it has some improvements on connection management.

2. Try printing the deltas (as seen in src/collaboration/shared.js) to see if they contain the entire state or only mostly deltas.

[2018-12-20 11:16] pgte commented on #277
Watch out that, as recently @satazor pointed out, js-ipfs doesn't boot up if one of the ws-star addresses fails to connect... :(

[2018-12-20 12:57] pgte commented on #276
@jimpick I don't think it's required, but please tell me if you need a new patch release of peer-base.

[2018-12-20 18:39] jimpick commented on #276
I think if I just update package-lock.json, that should do a deploy...

[2018-12-21 16:14] jimpick opened #278 "Multiple user stress testing"
We did a manual stress test with 5 participants off of https://dev.peerpad.net/

Observations:

* everybody was able to connect and add/edit text
* corruption issues appear to be gone (yay!)
* pinner feedback needs some improvement
* with many participants (everybody had 2 browsers open, so more than 6), some updates propagated very slowly or not at all
* some people saw alert boxes with errors (e

[2018-12-21 22:43] parkan commented on #277
long discussion here: https://github.com/ipfs/js-ipfs/issues/1619

TLDR we need to use libp2p-websocket-star-multi for this to work, so we can:

- update peer-pad/examples/docs to use libp2p-websocket-star-multi
- encourage libp2p-websocket-star-multi be adopted as default in https://github.com/libp2p/js-libp2p-websocket-star/issues/61 (please +1 this!)

[2018-12-21 22:48] parkan commented on #272
tossing all your changes since some checkpoint + any causally related 3rd party changes seems to be reasonably intuitive for the user, though I'm not sure how the 3rd party will feel about it -- you would probably need some heuristics to keep the maximum set of tossed changes reasonable

I definitely support **disabling undo altogether** as a short-term fix

[2019-01-05 20:38] jimpick commented on #266
I was playing around with XState, and I made a little prototype of using it to drive a simulation using peer-base...

https://github.com/jimpick/peer-base-xstate-playground

[2019-01-07 02:51] marcooliveira commented on #264
For reference, this relates to: https://github.com/peer-base/peer-base/issues/227

[2019-01-07 02:52] marcooliveira commented on #266
For reference, this relates to: https://github.com/peer-base/peer-base/issues/227

[2019-01-08 13:04] raguay opened #281 "First install on macOS 10.14.2 - just sits there"
I just found this today and tried to install it. After starting it with the `npm start` it says it's serving the page and gives the addresses, but the page in Chrome is only blank. It loads for a very long time and then just blank.

I have the ipfs command line installed with ipfs-install, the macOS menu application, and the Chrome extension for IPFS. They were all running at the time. Is that an

[2019-01-08 15:52] jimpick commented on #281
It does take a little time the first time you load the page in development mode, as it is a react app and it has to "compile" and "bundle" all the frontend files together (using webpack). When I start it on my MacBook, it takes about 30-60 seconds, and then it says:

[code]

It automatically launches the web page in the default web browser once that shows on the terminal.

If it doesn't show that

[2019-01-09 06:43] jimpick commented on #276
This is fixed.

[2019-01-09 06:43] #276 closed

[2019-01-09 06:43] jimpick commented on #270
Closing this. I'm fine with leaving it on ipfs-shipyard for now.

[2019-01-09 06:43] #270 closed

[2019-01-09 06:44] jimpick commented on #267
Closing this, as we appear to have solved the corruption problems.

[2019-01-09 06:44] #267 closed

[2019-01-10 01:51] raguay commented on #281
Yes, It says all those things, but the webpage never loads. My node.js version is 11.6.

Okay. It just started running, but it gives this error a lot:
[code]

[2019-01-10 06:33] jimpick commented on #281
Hmmm. I just tried node 11.6.0 here, and it compiled and ran. I managed to run it in Chrome, Firefox Nightly and Safari. I also tried it with IPFS Companion turned on (in Chrome).

I'm having some trouble reproducing the issue. Another source of variation might be related to the various native modules that get compiled when doing `npm install`.

[2019-01-12 04:44] jimpick commented on #22
I found an interesting implementation of a "cross-tab-client" that uses a leader election so that only one tab is managing the storage and web sockets:

https://github.com/logux/client/blob/master/cross-tab-client.js

We might be able to do something similar...

[2019-01-15 18:10] mikeal opened #282 "Snippet request: get the current pad state as a string."
I've been looking at doing some workflow automation and one thing I'd like to do is take a peerpad (the user will give me the URL to the pad) and commit it to GitHub.

In order to do that I just need a JS code snippet that can get the current pad state as a string for any pad given identifiers I can pull out of the URL. I went through the current docs and didn't quite see how I could do that easil

[2019-01-15 18:20] jimpick commented on #282
I'll see if I can code up an example quickly... doing it with Node is easier as I can avoid bundling...

[2019-01-15 19:04] mikeal commented on #282
Any code sample you do in Node.js that will "just work" if I did that same thing bundled through webpack would be fine :)

If there's something about the browser environment that makes this inherently difficult, let me know and I can use the Node.js snippet to create a simple service instead :)

[2019-01-15 20:08] jimpick commented on #282
https://github.com/jimpick/peer-pad-tool

Usage: `node index.js <url>`

[code]

This is a first pass. I'm finding it to be really flakey at the moment. Sometimes it works, sometimes it gets stuck. Sometimes it returns too early with only a partial document. I'm going to investigate further. The "sub-collaborations" we use for the title of the PeerPad document seem to be syncing less reliably than

[2019-01-17 13:05] pgte opened #284 "offline app access"
Leverage Service Workers to cache the app and make it load when you're offline.

(/cc @whyrusleeping )

[2019-01-17 13:14] pgte opened #285 "support stream through IPFS daemon"
One of the reasons why we were not able to use an IPFS daemon instead of an embedded js-ipfs node was because go-ipfs didn't allow for p2p streams. But go-ipfs now it does have the p2p command which opens a duplex stream.

(/cc @whyrusleeping)

[2019-01-17 13:18] pgte opened #286 "use MFS instead of local store"
Use MFS as storage for document state instead of local storage.
This will allow us to decouple from local store and use, for instance, the IPFS daemon.

(/cc @whyrusleeping)

[2019-01-17 19:20] parkan opened #287 "Use our own CI/CD pipeline"
The main Jenkins cluster has been intermittently (but often) failing the pin/publish stage, blocking us from deploying an up-to-date dev.peerpad.net and pinner. This is unlikely to be fixed soon.

We could set up our own CI/CD pipeline to handle these deployments. The current flow is described in [DEPLOY.md](https://github.com/ipfs-shipyard/peer-pad/blob/e65fa08e6bce4627b58e6e82e0fdc0382a3b828f/do

[2019-01-17 19:21] parkan opened #288 "Update peerpad.net"
We've done a fair amount of work on peerpad master, and dev.peerpad.net has served us (mostly) well. We also haven't seen much evidence that the explanatory landing page etc on the main site bring a lot of value, given our developer focus.

Let's update peerpad.net to the current peer-pad version so visitors are met with a more stable, better-performing version.

This may be blocked until #287 is

[2019-01-17 19:50] parkan commented on #286
👍

[2019-01-17 19:51] parkan commented on #285
for clarity, this would work through companion, correct?

[2019-01-17 19:53] parkan commented on #288
(once this is done, we can also periodically update prod -- probably a good topic for the bi-weekly meeting)

[2019-01-17 20:21] jimpick commented on #287
I believe the pinner is deployed via Travis:

https://github.com/peer-base/peer-base/blob/master/.travis.yml

[2019-01-17 21:06] pgte commented on #285
Apparently js-ipfs does not support this, so I think companion doesn't either.
Opened respective [issue on js-ipfs](https://github.com/ipfs/js-ipfs/issues/1828) for clarification.

[2019-01-17 23:33] parkan commented on #287
ahh I literally looked at that file but didn't think the pinner was in there because... it's not a pinner-specific repo?

[2019-01-18 02:41] jimpick commented on #287
It would be a good time to think about splitting it out into a separate repo, especially if we want to add non-generic features to it for our specific deployment.

[2019-01-18 03:01] jimpick commented on #284
I did that for dat-shopping-list:

[2019-01-18 03:18] jimpick commented on #286
Is this related to https://github.com/peer-base/peer-base/issues/117 ?

[2019-01-18 16:53] parkan commented on #287
given our inclination towards small repos I'd agree with splitting it out, regardless of whether it's generic or not

[2019-01-21 09:02] pgte commented on #262
Depends on:

- [ ] [support stream through IPFS daemon](https://github.com/ipfs-shipyard/peer-pad/issues/285)
- [ ] [use MFS instead of local store ](https://github.com/ipfs-shipyard/peer-pad/issues/286)

[2019-01-21 09:02] pgte commented on #278
@jimpick could we get a status update on this one?

[2019-01-21 09:04] pgte opened #289 "allow peer-pad to boot offline without an error"
... and later on be able to find and connect to peers once the network allows.

[2019-01-21 09:04] pgte opened #290 "make peer-pad offline-first"
In order to make peer-pad the blueprint for a offline-first application, we would need to:

- [ ] use a service-worker to allow the peer-pad application to load when offline ([issue](https://github.com/ipfs-shipyard/peer-pad/issues/284))
- [ ] allow js-ipfs to boot offline [issue](https://github.com/ipfs-shipyard/peer-pad/issues/289)

[2019-01-21 09:05] pgte commented on #290
@jimpick I think this would make a great source of teaching materials on how to make an offline-first application on top of IPFS. Would you want to pursue this?

[2019-01-21 09:11] pgte commented on #287
@jimpick we could create peer-pad-pinner, which is just a including the peer-base pinner. This would be good to just decouple the releases of the pinner and the app itself.

[2019-01-21 09:14] pgte commented on #286
@jimpick if MFS is solid on js-ipfs I think peer-base should migrate to it, since there would be no reason to use the local store any more.

[2019-01-21 09:17] pgte commented on #288
@parkan Yes, I think that's the best approach for persistence: to delegate to a pinner cluster.
There's still one problem: where can the pinner store the HEAD of the collaboration in non-ephemeral memory? IPNS would be a good candidate, once we get it usable on js-ipfs...

[2019-01-21 10:05] whyrusleeping commented on #262
Re: Discovery, I think polling is our best bet for now. Youre just trying to find other peers that are local? Or whats going on there?

[2019-01-21 17:39] jimpick commented on #290
Related.. on Wednesday, there is a "Local Offline Collab Monthly" meeting:

https://docs.google.com/document/d/1Mol6epw0sbj5FqS6akD-X5KJkGF0MwsOZQ5t1ehOGiM/edit#heading=h.kae0jvmhwrho

[2019-01-21 19:04] parkan commented on #289
https://github.com/ipfs/js-ipfs/pull/1793 is closed so this should work! let's verify and close this issue

[2019-01-21 19:05] parkan commented on #290
looks like we're 1/2 there 😄

there may be some UX concerns, as well, but let's get it working first

[2019-01-21 19:08] parkan commented on #288
looks like 0.34.x has IPNS: https://github.com/ipfs/js-ipfs/releases/tag/v0.34.0

[2019-01-21 19:09] parkan commented on #289
included in 0.34.2: https://github.com/ipfs/js-ipfs/releases/tag/v0.34.2

[2019-01-21 20:37] whyrusleeping commented on #285
Cc @magik6k (the author of these features on the go side)

[2019-01-22 10:37] pgte commented on #285
@magik6k ha, thanks for the feedback! If it's not websockets we can't use it directly in the browser context, and we would need this to be in the IPFS daemon..

[2019-01-22 14:08] pgte commented on #289
Currently blocked on https://github.com/ipfs/js-ipfs/issues/1837

[2019-01-22 14:35] parkan commented on #289
this seems not like a blocker *per se*, given that we can still get offline behavior to work and then refresh to reconnect, no? obviously re-join notification would be great but that feels like a separate piece

[2019-01-22 15:24] pgte commented on #289
@parkan yup, that would work too :)

[2019-01-23 08:03] jimpick commented on #278
I'll do a little more isolated testing ... once the latest libraries are landed, I think it would be good to schedule another team test. That seems to show up bugs that don't appear with individual testing.

[2019-01-31 02:45] jimpick opened #292 "Remove p-event dependency when peer-base is fixed"
I temporarily added p-event as a dependency because it was missing from peer-base:

https://github.com/peer-base/peer-base/pull/254

[2019-02-13 18:20] jimpick commented on #22
I experimented with wrapping peer-base with logux for use within an iframe (using nanostate for a state machine), and it worked out really, really well for multiple tabs.

https://github.com/jimpick/multiple-tabs-logux-peer-base/blob/master/index.js

Here is a demo that uses it (via the iframe):

https://bafybeid7pdb56figg7hv6uxyt4tnovb4zw54vmtqcu2oc6nkzz2mf6r2s4.lunet.v6z.me/

[2019-02-13 18:24] jimpick opened #293 "Move deploy to Travis from Jenkins"
Jenkins is no more. RIP.

Migration instructions are here:

https://github.com/protocol/infra/issues/434

This affects #287, #207, #152, #167...

[2019-02-14 09:51] pgte commented on #22
@jimpick That's super! 😍

[2019-02-26 06:38] jimpick opened #295 "CircleCI deploy to dev.peerpad.net failing ..."
@olizilla: I merged #294 to master to see if it would deploy to dev.peerpad.net.

https://circleci.com/gh/ipfs-shipyard/peer-pad/310

It appears to have failed when it tried to configure the DNS:

[code]

[2019-02-26 06:39] jimpick commented on #293
PR #294 moves the deploy to CircleCI.

[2019-02-26 06:39] #293 closed

[2019-02-26 06:39] jimpick commented on #287
PR #294 moved the deploy to CircleCI.

[2019-02-26 06:39] #287 closed

[2019-02-26 06:40] jimpick commented on #167
PR #294 moved the deploy to CircleCI.

[2019-02-26 06:40] #167 closed

[2019-02-26 06:50] jimpick opened #296 "Re-enable Rollbar reporting"
I temporarily disabled Rollbar support so the build on CircleCI would pass. If we can get the secrets, we can put them in an environment variable on CircleCI and re-enable it in the build.

[2019-02-27 01:40] parkan commented on #296
does someone actively look at the rollbar reports?

[2019-02-27 01:49] parkan commented on #295
needs to update the `dev` record in the `peerpad.net` zone

[2019-02-27 05:52] jimpick commented on #295
I modified the deploy script here:

https://github.com/ipfs-shipyard/peer-pad/commit/47d29e451ded0be30b59e69bfd326a2ed933ed7b

It appears to have been successful:

https://circleci.com/gh/ipfs-shipyard/peer-pad/312

[code]

However, the page isn't loading for me.

https://dev.peerpad.net/

I wonder if the 'A' record for dev.peerpad.net is pointing to the correct place?

[code]

[2019-02-27 06:05] jimpick commented on #295
I think everything is correct ... I think the gateway is just loading terribly slowly:

https://dev.peerpad.net/

[2019-02-27 10:02] olizilla commented on #295
thats somewhat good. At least peerpad can auto deploy once more.

[2019-02-28 03:53] jimpick opened #297 "WIP: IPLD/IPNS backups for pinner"
The existing peer-base pinner will persist data to ~/.jsipfs, which works great.

But we'd like to deploy the pinner to Heroku, which has an ephemeral disk. On redeploys, the virtual machine will have a fresh disk, which will lose the pinned data.

As an extra layer, I'm going to try to write the pinner state out to IPLD on each state change, and call the ipfs-cluster API to pin it permanently.  A

[2019-02-28 22:44] parkan commented on #295
everything is looking good to me right now, closing this

[2019-02-28 22:44] #295 closed

[2019-03-13 18:53] momack2 opened #299 "Improve 3rd bullet color to be accessible/readable"
![Screen Shot 2019-03-13 at 2 51 13 PM](https://user-images.githubusercontent.com/618519/54306321-79f92b00-459f-11e9-9cc1-d3ac28378de5.png)
Please change purple color to something readable against the navy background (maybe lilac or pink?). You can use online accessibility tools ([example](https://webaim.org/resources/contrastchecker/)) to ensure the the color contrast between the background and t

[2019-03-13 19:22] jbenet opened #300 "3 modes: (side-by-side, code, wysiwyg)"
Some markdown editors function with 3 modes
- 2panes: "code" and "render" side-by-side (sometimes "code" and "wysiwyg" side-by-side)
- 1pane: "code"
- 1pane: "wysiwyg"

Where:
- "code" is the editable source code. read-write
- "render" is the rendered version (code rendered into html, rendered by browser). read only.
- "wysiwyg" is like "render", but also supports editing. ([What You See Is What Y

[2019-03-13 19:24] jbenet commented on #300
(Some of the old wireframes show some of this, i think)

[2019-03-13 19:24] jbenet opened #301 "wysiwyg editing in the rendered part?"
There are some wysiwyg editors for markdown. may be nice to use one in peer-pad.

Related to https://github.com/ipfs-shipyard/peer-pad/issues/300

[2019-03-13 19:25] jbenet opened #302 "Editor width"
## Description

Editing in a 1920x1200 res (15" laptop) window is hard:

![image](https://user-images.githubusercontent.com/138401/54306895-a43eee80-4587-11e9-88b3-880e4313d599.png)

Better to do something like this:

![image](https://user-images.githubusercontent.com/138401/54306932-ba4caf00-4587-11e9-9b2a-66e0e32c656d.png)

## Suggestions

### (1) change css

removing `.mw8 { max-width: 64rem; }

[2019-03-13 19:25] jbenet commented on #299
yeah this is really hard to see

[2019-03-13 19:42] jbenet opened #303 "dev.peerpad.net pads do not have alpha warning"
Alpha warning:

![image](https://user-images.githubusercontent.com/138401/54309329-2382f100-458d-11e9-88bd-f6e48f8e2dcb.png)

this warning is important because peerpad uses (and advertises) encryption and we are not sure it works to keep content properly safe. (and i would claim that we are sure it DOES NOT keep content properly safe.). The warning is important.

If it's too big and consuming to m

[2019-03-13 19:42] jbenet commented on #303
cc @jimpick

[2019-03-13 19:44] jbenet opened #304 "dev.peerpad.net does not have the home page"
dev.peerpad.net jumps you straight into a new pad. that's super nice, but the front page of peerpad.net is a bit important to describe what the product is, why we built it, etc.

Maybe:
- make the "start" button more prominent in the homepage
- make a page like `peerpad.net/new` which does what `dev.peerpad.net` does right now (make a new document). power users can learn it and use it, instead of

[2019-03-13 19:46] jbenet commented on #304
@jimpick not sure if you _intended_ to remove the front page in the final, or just the dev version. documenting this just in case you meant to kill the front page for good. (if that was the team decision i can live with it, dont hold too strong of a view, but we then probably need an "about" link that takes you to what's on the front page now)

[2019-03-13 23:44] momack2 opened #305 "Links from actively edited peerpads should have different landing place than blank entry"
When you are sent and click on a peer-pad link that points to an active doc that is being shared with you - the redirect/loading page should look **different** than a blank peer pad. The UX problem is that you are following a link that someone sent you to notes and on first load it looks like a blank/empty peer-pad - which gives the impression that all the previously added data has been lost, or y

[2019-03-13 23:49] parkan commented on #303
@jbenet this was a deliberate decision, see historical basis here nhttps://github.com/ipfs-shipyard/pm-peer-pad/issues/35

unlike the landing page (which, in its present form, does not add a huge amount of value) I do think the alpha warning is important vis a vis security -- we'll bring it back when we publish the dev site as the main page (as you can see in the original issue the intent was to m

[2019-03-13 23:53] parkan commented on #304
@jbenet this was a deliberate decision, see historical basis here: https://github.com/ipfs-shipyard/pm-peer-pad/issues/35

the TL;DR is that the front page had gone out of date and was not providing a lot of value, especially given that most of usage has been internal

my view is that it's easier to add an About link with up-to-date info (possibly even just pointing the github README) than attempt

[2019-03-13 23:55] parkan commented on #304
there are also related discussions about future trajectory of DDC and how products we build are positioned on the experiment to competitive market product spectrum, stand by for a deliverable on that (though I am happy to update you on where thinking is now)

[2019-03-14 00:01] parkan commented on #299
https://github.com/ipfs-shipyard/peer-pad/issues/271

[2019-03-14 00:01] #299 closed

[2019-03-14 00:02] parkan commented on #305
https://github.com/ipfs-shipyard/peer-pad/issues/266

[2019-03-14 00:02] #305 closed

[2019-03-14 00:05] momack2 commented on #302
Alternate idea: expansion up until each page is the same size as a google docs window (816px?) - meaning in split view the page would be 1632px total. Reasoning - I think gdocs did a good job choosing a wide enough view for reasonable wrapping/viewability, but slim enough that it still feel like a _page_ instead of an infinite canvas.

Strong preference to not add additional UI complexity / user c

[2019-03-14 00:19] parkan commented on #302
this could be good -- tbh I mostly use it in the 1up view because my eyes read markdown better than the formatted view at this point:

<img width="454" alt="md" src="https://user-images.githubusercontent.com/204986/54322772-bb93d100-45b3-11e9-996d-98a4cfdcf80a.PNG">

so it looks like this:

<img width="1280" alt="pp" src="https://user-images.githubusercontent.com/204986/54322806-e54cf800-45b3-11e9

[2019-03-14 00:20] jimpick commented on #300
There are some little code/render buttons in the header ... they are easy to overlook:

![Screenshot 2019-03-13 17 07 06](https://user-images.githubusercontent.com/20886/54322703-71125480-45b3-11e9-94b9-f58572735a08.png)

Code mode:

![Screenshot 2019-03-13 17 07 17](https://user-images.githubusercontent.com/20886/54322710-77083580-45b3-11e9-9bb1-b4800b568e64.png)

Render mode:

![Screenshot 2019-

[2019-03-14 00:21] parkan commented on #301
Stack Overflow's [PageDown](https://github.com/StackExchange/pagedown) seems to be the standard here

that being said I think this is out of scope for our product vision

[2019-03-14 00:29] parkan commented on #271
I personally enjoy using http://colorbrewer2.org/#type=diverging&scheme=BrBG&n=3 in the "diverging" mode to generate color schemes, though that's probably my weird GIS background 🙂

[2019-03-14 00:30] parkan commented on #266
thoughts from @momack2:

[2019-03-14 00:32] parkan commented on #264
thoughts from @momack2:

[2019-03-16 20:51] jimpick commented on #297
Making some progress:

https://github.com/ipfs-shipyard/peer-base-pinner

I had to tweak IPNS (go-ipfs), but it can now save and retrieve pinned state across heroku reboots (the IPFS repo needs to be recreated after each reboot because of the ephemeral disks). I'll be added in some support to pin to ipfs-cluster, and with that, we should have a solution for durable pinning that will enable us to d

[2019-03-16 21:12] jimpick opened #306 "Sync issue with titles"
Sometimes the title doesn't sync.

This needs further investigation to get a reproducible test case - it appears to be related to pinning.

Possibly related issue from the past: #252

[2019-03-16 21:14] jimpick commented on #301
I think this would be fun to do as a separate demo ... I want to be able to show that it's easy to hook peer-base into any type of editor.

[2019-03-16 22:01] jimpick opened #307 "Ideas for shorter urls"
We could potentially have somewhat shorter urls:

* make shorter random doc names
* use ed25519 or similar public/secret keys which are much shorter than RSA keys

[2019-03-18 23:32] jimpick commented on #302
It was bugging me too ... I quickly chose option (1) as it was fastest to do. #308

I'll leave this issue open for now ... feel free to leave comments on how you like it, and we can try different things out.

Until now, I've mostly been neglecting the front end / CSS stuff - but now that I've got the pinner working, I can spend some cycles on it as we get ready to test it out.

[2019-03-18 23:53] jimpick opened #309 "Snapshots are broken"
![broken-snapshots](https://user-images.githubusercontent.com/20886/54570641-85cc5f00-499c-11e9-85e3-b9f38fd35de4.gif)

I remember it working before, but it doesn't even appear to be working on https://peerpad.net/ right now.

To me, it seems like a bit of an odd publishing workflow.

We already have the ability to generate a read-only link, and this is almost the same thing (except it doesn't get

[2019-03-19 00:13] jimpick commented on #111
We've removed that landing page for now, so I'm closing this.

[2019-03-19 00:13] #111 closed

[2019-03-19 00:16] jimpick commented on #109
We've removed the landing page (for now), so I'm going to close this.

[2019-03-19 00:16] #109 closed

[2019-03-19 01:31] jimpick commented on #260
I tested with the current version of Zoom, and it's fixed, so I'm closing this.

[2019-03-19 01:31] #260 closed

[2019-03-19 19:38] jimpick opened #310 "UI tweaks for launch (or shortly after)"
Some thoughts...

# Header Branding

Now that we've removed the landing page, there's nothing in the header that says "PeerPad" ... just the logo - there's some space where we could add the branded title.

<img width="889" alt="Screenshot 2019-03-19 11 58 02" src="https://user-images.githubusercontent.com/20886/54634205-f4fa8f80-4a3e-11e9-8ce0-847d812edf3a.png">

Here's the branding from the curre

[2019-03-20 20:55] jimpick opened #311 "Pasting a PeerPad link into the browser address bar doesn't change document"
If a PeerPad document is already open, and then you paste a URL of a different PeerPad document into the browser address bar, the document shown doesn't change.

[2019-03-20 21:00] jimpick opened #312 "Cursor appears in wrong spot after deleting text"
Here's a gif to illustrate:

![delete-text-cursor](https://user-images.githubusercontent.com/20886/54718742-74a85d00-4b18-11e9-8f47-b40ea06f9764.gif)

After deleting, the cursor should be before the 'o', not after it.

[2019-03-20 22:02] jimpick opened #313 "Open links in separate tabs"
When clicking on links in the rendered markdown pages, it would be nice if they opened in new tabs.

[2019-03-21 02:30] parkan commented on #310
Signoff:
## Header Branding:
:+1:

## Aliases:
Let's kill the popup (as it is legitimately not useful right now) but keep the indicator, misleading as it is, to make you feel less alone

Then revisit later as needed

## Snapshots
This has a lot of potential integrating with e.g. https://proto.school/#/blog/01 but not as it is now -- let's kill it (I think this was already planned?)

## Creating Li

[2019-03-21 18:51] jimpick commented on #310
I'm thinking it would be nice to keep the UI as uncluttered as possible ... not quite "zen mode" but close. I think we could sneak in an "About" link that you could click on that would pop up a nicely styled modal with all the extra links...

Doing a full mobile-friendly responsive design might be a bit of a stretch for this first quick release, but the cleaner it is, the less work it will be.

[2019-03-26 19:33] parkan commented on #310
let me ask if we can borrow a design person for a day or two

[2019-03-31 05:47] jimpick commented on #307
It's already using ed25519 keys, not RSA keys, so I struck that out.

[2019-04-01 19:33] jimpick opened #314 "Make editor and preview panes independently scrollable"
In longish markdown documents, the source you are editing will usually be rendered in the preview pane in a different position vertically, which will often be outside of the scrolled area.

It would be nice to keep the preview window automatically scrolled into view when editing ... or when somebody else edits.

[2019-04-10 18:45] jimpick opened #315 "Report in the UI if the pinner is unhealthy"
If the pinner is having trouble saving data to ipfs-cluster asynchronously, it would be good if it could report that it is in poor health, and display that in the PeerPad UI somehow.

There may be more than one pinner in a collaboration, so we'd need to figure out how to display that information.

[2019-04-25 15:24] jimpick opened #316 "Clicking on the back button after creating a new document will create another document"
Because the new root url redirects to a new document, going back will create a new document.

We probably need to manage history better.

Perhaps we shouldn't create a new document without user interaction, as it is a bit surprising.

[2019-05-07 05:10] daviddias opened #317 "Landscape of Open Collaborative Text Editors"
Leaving this article here https://juretriglav.si/open-source-collaborative-text-editors/, it provides a good update on the state of text editors everywhere, might spark some ideas for PeerPad :)

[2019-05-07 05:14] daviddias commented on #317
Also, the illustration cracked me open

![image](https://user-images.githubusercontent.com/1211152/57273358-c0e33880-7097-11e9-87bb-86c4ae12480f.png)

[2019-05-07 22:03] jimpick commented on #317
Related Hacker News thread: https://news.ycombinator.com/item?id=19845776

I'd already left some breadcrumbs leading over to PeerPad. :-)

[2019-05-08 19:06] parkan commented on #316
the simplest solution here is to use `history.replaceState` so there's no "back" history entry to go back to

[2019-05-08 20:43] parkan commented on #315
we do currently have a bad status, right? should this be refined to "improve pinner error message in UI"?

[2019-05-08 20:47] parkan commented on #316
reworking history handling will also affect https://github.com/ipfs-shipyard/peer-pad/issues/314

[2019-05-23 03:32] jimpick commented on #315
There are sort of multiple levels of pinning - the first stage is for the web browser to pin the peer-base collaboration via a websocket to peer-base-pinner, which is basically just another peer in the collaboration. When that succeeds, the UI will say that the content was pinned.

There's a second level of pinning which is basically peer-base-pinner saving a backup to ipfs-cluster. Conceptually i

[2019-05-24 11:54] parkan commented on #315
I wonder if the "real" way to do this is for the app itself to check that `findProvs` of the latest state shows the expected results?

[2019-06-23 09:10] jimpick opened #318 "No emoji support"
Needs emojis

[2019-06-23 09:14] lidel commented on #318
To reproduce:

1. Add 💢 to the document ([anger emoji](https://emojipedia.org/anger-symbol/)
2. It will look fine for you: ![2019-06-23_11-11](https://user-images.githubusercontent.com/157609/59974068-e1b01080-95a7-11e9-9c72-b1c0890ce660.png)
3. ..but when replicated to others, it will get borked: ![2019-06-23_11-12](https://user-images.githubusercontent.com/157609/59974074-eeccff80-95a7-11e9-8497

[2019-06-24 17:17] #314 closed

[2019-07-24 20:36] autonome opened #326 "Consider piggybacking on full featured collaborative editors"
Using Peerpad is a pretty big step down from Hackmd, Cryptpad, Etherpad, etc mostly just because of the time spent on it and therefor the design and feature gap.

I wonder if it'd be worth hacking on a fork of one of those to make it use the Peerpad core.

Alternatively, we could try collaborating with some of those editors to explore adding peer-* support to their projects.

[2019-07-24 20:36] autonome commented on #318
Replicated to self also has the problem, can just reload.

[2019-09-10 06:29] daviddias opened #329 "PeerPad welcome page is gone"
When entering https://peerpad.net, I no longer see the nice Welcome page it had once before

Also, the security disclaimer is gone.

Can we have both back?

[2019-09-10 14:57] jimpick commented on #329
All that has been in the plan since the spring ... it has been a victim of planning priorities.

The only reason the current unfinished site is live is because the old version never worked well, and the new one was an improvement, and I launched it quickly so I could talk about it at the IPFS Meetup in Barcelona... it was clear that if we waited for everything we wanted, it wasn’t going to launch.

[2019-09-10 15:05] daviddias commented on #329
Understood. I believe that the welcome page is a good to have and that the security banner is a must have. If you were to estimate the amount of time necessary to bring those 2 back, how many hours/days would you say?

[2019-09-10 15:57] jimpick commented on #329
That's a tough question ...

On the face of it, it should only take a few hours to make some HTML changes.

After discussion with @parkan, who was doing project management at the time, the welcome page was removed very intentionally so it could be replaced with something that better tells the current narrative. Initially, we were going to scale the project up as peer-base became something we were

[2019-09-10 18:01] parkan commented on #329
very well put @jimpick!

I stand by the decision to remove the landing page, both at that time (when the intent was to make a lean tool to dogfood and iterate) and as a broader product decision. See #303, #304 and https://github.com/ipfs-shipyard/pm-peer-pad/issues/35 for rationale.

I do agree that we need an explanatory notice/experimental warning and CTA for potential contributors, the way we d

[2019-09-10 18:04] parkan commented on #326
This was considered and discussed with one vendor, but the complexity of the integration and stability/performance of peer-base at that time made it a non-starter (although both have since improved). Making a pluggable core is still IMO the most viable trajectory for this project, but that requires significantly more resources and organizational support than is currently available.

[2019-09-26 11:31] pezinek opened #331 "peerpad.net does not work if IPFS Companion extension is enabled in Chrome"
If i browse to peerpad.net using chrome + IPFS Companion it fails to become online with the developer console showing the output bellow.
Btw. I do have all the experimental features in IPFS Companion enabled (e.g. like injecting window.ipfs etc.)
and do use custom IPFS gateway that runs on http://192.168.1.70/8080/

[code]

[2020-06-06 00:02] tionis opened #332 "Current Status of the project"
Is this project still being maintained?

[2020-09-19 11:17] dko1905 commented on #332
No

[2020-09-19 11:18] dko1905 commented on #332
It doesn't seem like it is.

[2021-03-30 16:48] dabbr opened #333 "Your server is about to be hit by a huge load. Good luck managing it! Godspeed!"
https://tinyurl.com/manifestofromgod

[2021-04-15 20:58] johanbove commented on #333
The link redirects to https://peerpad.net/#/w/markdown/4ckFVejEr3skmk6trW7iTnB1J7apFmVdq52iQhAPdrWY/4XTTMFUv3whsJZ2zDm1owRbkyddeubdQwdVZLJmkVK9khFQwM-K3TgV7EcTbRkyqZ7fapc7wkKNcXzcEbed4qh7qyRQ7dkytJkMrKNGy2YxsmxFk1rR48GjD1usJPjDnzc1brVhjU9mxaR6UcJBhN1VzYD8EerNpekSxvgXJuepb49UiZEHKvsfYJw

[2021-10-26 11:42] slrslr opened #334 "Site is not working. Uncaught error in private Firefox window and wss connection establish fail in normal window."
https://ipfs.io/ipns/peerpad.net/#/ redirects to [here](http://peerpad.net.ipns.localhost:8080/#/w/markdown/9J85gBriZ2dptgmUL8SaS3YhdGcBZgt1jvGHVFjjLK3D/4XTTM37X5zJZzgrjpz3UskjuXk2CyY8GJKjjdX8megQCAkKvt-K3TgUHZu4xTmLsGD6jpUZr21uhmigg8WG17wsjGaUcYgSDMupvC4cZQDQu1AQZemkecMj8dfNVwTi1svq9ZixcNQqJzYuEhNfVh1YbtcR3ymxFcffTqPdeXabUjBEYVpNLtAHBoa) in Firefox 93.0 web browser private window. Dev. console sh

[2022-01-03 11:38] milahu commented on #332
https://github.com/peer-base/peer-base

via
https://github.com/ipfs-shipyard/peer-pad-core

edit: same github org as peer-pad, d'oh

[2022-05-21 20:36] jonapaniagua opened #335 "tigre"

[2022-05-21 20:43] jonapaniagua opened #336 "tigre"